<swiper [config]="config">

  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let banner of bannerList">
      <a [href]="banner.linkURL"><img [alt]="banner.altValue" [src]="banner.imageURL"/></a>
    </div>

    <!--<div class="swiper-slide" *ngFor="let event of upcomingEvents">
      <mat-card class="workshop-card">
        <form (ngSubmit)="onWorkshopRegister(event.name)">
          <mat-card-header>
            <mat-card-title [innerHTML]="event.title"></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{event.start_date | date:'longDate'}} - {{event.end_date | date:'longDate'}}</p>
            <p>{{event.location}}</p>
            <ng-container *ngIf="event.attendance_max != null">
              <p *ngIf="event.attendance !== null">Attendance - {{event.attendance}}/{{event.attendance_max}}</p>
              <p *ngIf="event.attendance === null">Max attendance - {{event.attendance_max}}</p>
              <p><a [href]="event.url" target="_blank">More information</a></p>
              <div *ngIf="authService.userID; else signin">
                <button *ngIf="authService.hasClassification(event.name); else register"
                        class="btn btn-primary" disabled>You are already registered!
                </button>
                <ng-template #register>
                  <button *ngIf="event.attendance_max > event.attendance; else disable_button"
                          class="btn btn-primary" type="submit">Register
                  </button>
                  <ng-template #disable_button>
                    <button class="btn btn-primary" disabled>Registration Full</button>
                  </ng-template>
                </ng-template>
              </div>
              <ng-template #signin>
                <button class="btn btn-primary" routerLink="/signin">Please sign in to register</button>
              </ng-template>
            </ng-container>
          </mat-card-content>
        </form>
      </mat-card>
    </div>-->

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-blue"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next arrow-right swiper-button-black"></div>
  <div class="swiper-button-prev arrow-left swiper-button-black"></div>
</swiper>
<div *ngIf="notifications?.message && notifications.type"
     class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}"
     [innerHTML]="notifications.message | safeHtml">
</div>
<div id="home-page-bg"></div>

<section id="home-intro" class="page-section gray-bg">
  <div class="content">
    <h1>What is <br/><span class="nmrbox-logo-large-blue"></span></h1>
    <span>
      <strong>NMR</strong>box is a resource for biomolecular NMR (Nuclear Magnetic Resonance) software. It provides
      tools for finding the software you need, documentation and tutorials for getting the most out of the software, and
      cloud-based virtual machines for executing the software.</span><br><br>
    <!--<a routerLink="/signup"><span class="large-bold"> Sign up</span></a> for an account, or
    <a routerLink="/signin"> <span class="large-bold">log in</span></a>. <br><br>-->
    <div style="text-align: center">
      <a href="https://api.nmrbox.org/files/benefits-users.pdf" target="_blank">User benefits</a>
      <span class="half-em">|</span>
      <a href="https://api.nmrbox.org/files/benefits-developers.pdf" target="_blank">Developer benefits</a>
      <span class="half-em">|</span>
      <a routerLink="/pages/overview">Center overview</a>
      <br><br>

      <a class="btn btn-primary" routerLink="/signup">Sign up</a><br>

      <div *ngIf="announcements">
        <h4><strong>Announcements</strong></h4>
        <span [innerHTML]="announcements | safeHtml"></span>
      </div>

    </div>

  </div>
</section>
<section id="home-software" class="page-section white-bg">
  <div class="content">
    <h1 class="blue">It's simple. Let's get started.</h1>
    <p>
      You can choose by category. Or you can view <a routerLink="/software">all software</a>.
    </p>
    <mat-grid-list [cols]="responsiveService.columns" rowHeight="380px">
      <mat-grid-tile [attr.id]="responsiveService.columns > 1 ? 'rp-tile': null">
        <h2 class="grid-tile-title">Research problems</h2>
        <mat-grid-list class="software-list" cols="1" rowHeight="60px">
          <mat-grid-tile *ngFor="let index of ['21','22','23','24','25']" class="co-tile"
                         [routerLink]="['/software', 'research', softwareService.researchSlugs[index]]">
            <figure>
              <img src="/assets/graphics/software-tab/rp-icon-{{softwareService.researchSlugs[index]}}-menu-outline.svg"
                   [alt]="softwareService.researchProblems[index]"
                   [title]="softwareService.researchProblems[index]"
                   height="50">
            </figure>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [attr.id]="responsiveService.columns > 1 ? 'st-tile': null">
        <h2 class="grid-tile-title">Most common software types</h2>
        <mat-grid-list class="software-list" cols="1" rowHeight="60px">
          <mat-grid-tile *ngFor="let s of softwareTypeFrequency.slice(0,5)" class="co-tile"
                         [routerLink]="['/software', 'software', softwareService.softwareSlugs[s[0]]]">
            <figure>
              <img src="/assets/graphics/software-tab/sw-icon-{{softwareService.softwareSlugs[s[0]]}}-menu-outline.svg"
                   [alt]="softwareService.softwareTypes[s[0]]"
                   [title]="softwareService.softwareTypes[s[0]]"
                   height="25">
              <figcaption>{{s[1]}} software packages</figcaption>
            </figure>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
<section id="home-community" class="page-section blue-bg">
  <div class="content">
    <h1 class="blue">Welcome to the<br/><strong>NMR</strong>box <strong>Community</strong></h1>
    <p>The <strong>NMR</strong>box Community is your opportunity to: share your experience; ask questions; seek advice
      and guidance on the software; and learn about upcoming training opportunities.
    </p>
    <mat-grid-list [cols]="responsiveService.columns" rowHeight="150px">
      <mat-grid-tile class="co-tile" routerLink="/community/0">
        <figure>
          <img src="/assets/graphics/community-tab/events-on-outline.svg" alt="Events" height="64">
          <figcaption>Conferences. Meetings. Workshops. Our calendar will help you plan ahead.</figcaption>
        </figure>
      </mat-grid-tile>
      <mat-grid-tile class="co-tile" routerLink="/community/1">
        <figure>
          <img src="/assets/graphics/community-tab/publications-on-outline.svg" alt="Publications" height="64">
          <figcaption>Publications about NMRbox and information on how to cite NMRbox.</figcaption>
        </figure>
      </mat-grid-tile>
      <mat-grid-tile class="co-tile" routerLink="/community/2">
        <figure>
          <img src="/assets/graphics/community-tab/connect-on-outline.svg" alt="Connect" height="64">
          <figcaption>Get involved in the NMRbox project.</figcaption>
        </figure>
      </mat-grid-tile>
      <mat-grid-tile class="co-tile" routerLink="/community/3">
        <figure>
          <img src="/assets/graphics/community-tab/teams-on-outline.svg" alt="Teams" height="64">
          <figcaption>Learn about the people behind NMRbox.</figcaption>
        </figure>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
<section id="home-team" class="page-section orange-bg">
  <div class="content">
    <h1 class="white">Get access to <br/><strong>NMR</strong>box <strong>Support</strong></h1>
    <p>We're here to help.</p>
    <mat-grid-list [cols]="responsiveService.columns" rowHeight="150px">
      <mat-grid-tile class="co-tile" routerLink="/support/0">
        <figure>
          <img src="/assets/graphics/support-tab/FAQ-on-black-outline.svg" alt="FAQs" height="64">
          <figcaption>Frequently asked questions about NMRbox.</figcaption>
        </figure>
      </mat-grid-tile>
      <mat-grid-tile class="co-tile" routerLink="/support/1">
        <figure>
          <img src="/assets/graphics/support-tab/documentation-on-black-outline.svg" alt="Documentation" height="64">
          <figcaption>It’s all about getting started from workflows, user guides, tutorials, and basic information about
            NMRbox.
            We’re here to help you.
          </figcaption>
        </figure>
      </mat-grid-tile>
      <mat-grid-tile class="co-tile" routerLink="/support/2">
        <figure>
          <img src="/assets/graphics/support-tab/contact-on-black-outline.svg" alt="Contact Us" height="64">
          <figcaption>Get in touch with the NMRbox team for support.</figcaption>
        </figure>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
<section id="funding" class="page-section gray-bg">
  <div class="content">
    <h1>The Center</h1>
    <p style="padding-right: 0"><strong>NMR</strong>box is developed by the National Center for Biomolecular NMR Data
      Processing and Analysis, a collaboration among UConn Health and the University of Wisconsin. The Center is a
      Biomedical Technology Research Resource (BTRR), supported by the National Institutes of Health (NIH) / National
      Institute of General Medical Sciences (NIGMS), grant 1P41GM111135.</p>

    <div>
      <a href="https://uconn.edu/" target="_blank">
        <img routerLink="" height="150" alt="UConn Logo" src="/assets/graphics/home-page/UCH.svg">
      </a>
      <span class="left-pad-2em"></span>
      <a href="https://www.wisc.edu/" target="_blank">
        <img height="150" alt="UW Madison Logo" src="/assets/graphics/home-page/UW.svg">
      </a>
    </div>
  </div>
</section>
