#info-box {
  margin: 0px auto;
}

mat-grid-list {
  max-width: 940px;
  width: 92%;
  margin: 10px auto;
  padding: 10px;

  .standard-card {
    min-height: 200px;
    margin: 5px;
    padding-right: 20px;

    .mat-card-title {
      font-weight: bold;
    }
    .mat-card-content {
      min-height: 105px;
      font-weight: 400;
    }
    ul.icon-list {
      height: 65px;
      bottom: 10px;
      position: absolute;
    }
  }
}

.mat-grid-tile:hover {
  cursor: pointer;
}

.center-tile {
  border-right: 1px dashed;
  border-left: 1px dashed;
}

.first-tile {
  border-right: 1px dashed;
}

::ng-deep .mat-select-value {
  max-width: inherit !important;
}

.spacer-span {
  margin-left: 1em;
  margin-right: 1em;
}

.sw-card {
  box-shadow: none !important;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

::ng-deep .software-selector-dropdown {
  min-width: calc(100% + 150px) !important;
}

.software-selector {
  min-width: 210px !important;
}
