<div class="community-details-wrapper">
  <mat-toolbar class="toolbar-transparent">
    <div class="menu-wrapper">
      <button (click)="goBack()">
        <svg width="15px" height="20px" viewBox="0 0 50 80" xml:space="preserve">
          <polyline fill="none" stroke="#313131" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
        45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
        </svg> 
      </button>
      <span class="page-title">Community</span>
    </div>
  </mat-toolbar>
  <div class="community-details" *ngIf="community">
    <h1>{{community?.name}}</h1>
    <h1>{{community?.title}}</h1>
    <section class="section-detail">
      <p class="subheading">{{community?.dateEvent}}</p>
      <p class="subheading">{{community?.synopsis}}</p>
      <img *ngIf="community.url" mat-card-image src="{{community?.url}}" />
      <p *ngIf="community.author" class="subheading">by {{community?.author}}</p>
      <p>{{community?.authorTitle}}</p>

      <div *ngIf="community.content; then htmlBlock else plainTextBlock"></div>
      <ng-template #htmlBlock>
        <div id="support-detail-description" [innerHTML]="community.content"></div>
      </ng-template>
      <ng-template #plainTextBlock>
        <div class="section-detail-page" id="support-detail-description"><p>{{community?.description}}</p></div>
      </ng-template>

    </section>

    <section *ngIf="community.author" id="sw-detail-description">
      <div class="divider divider-dashed"></div>
      <h3 class="subheading">{{community?.author}}</h3>
      <p>{{community?.authorTitle}}<br/>
      <a *ngIf="community.authorEmail" href='mailto:{{community?.authorEmail}}'>{{community?.authorEmail}}</a>
      </p>
      <img mat-card-image class="author-photo" src="{{community?.authorPhotoUrl}}" *ngIf="community.authorPhotoUrl" />
    </section>
    <br/><br/>
  </div>
</div>
