<div class="section-banner section-banner-community"></div>
<div class="section-banner-bg gray-bg"></div>

<div class="section-submenu section-submenu-community blue-bg"></div>
<div class="tab-group-container">

<mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">

    <mat-tab id="com-support" label="Support" class="co-sub-icon co-icon-med co-icon-support">

  <div class="sw-filters-container">
      <!--<div class="sw-filters">
        <mat-select id="rp-select" placeholder="Research problem"></mat-select>
        <mat-select id="st-select" class="menu-open" placeholder="Software type"></mat-select>
        <mat-select id="sw-select" class="menu-open" placeholder="Software package"></mat-select>
        <a id="all-software" (click)="getCommunityList(); $event.stopPropagation()">Clear filters</a>
        <mat-form-field id="search">
          <input matInput #searchBox id="search-box" (keyup)="searchSoftware(searchBox.value)" placeholder="search support"/>
          <span class="icon-search"></span>
        </mat-form-field>
      </div>-->
      <div id="software-types-menu" class="sw-menu-wrapper hidden">
        <swiper [config]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a id="sw-spectral" class="sw-type-icon-med sw-type-icon-spectral" (click)="filterSoftwareType('spectral'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-assignment" class="sw-type-icon-med sw-type-icon-assignment" (click)="filterSoftwareType('assignment'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-relaxation" class="sw-type-icon-med sw-type-icon-relaxation" (click)="filterSoftwareType('relaxation'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-chemical-shift" class="sw-type-icon-med sw-type-icon-chemical-shift" (click)="filterSoftwareType('chemical-shift'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-molecular-modeling" class="sw-type-icon-med sw-type-icon-molecular-modeling" (click)="filterSoftwareType('molecular-modeling'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-structure" class="sw-type-icon-med sw-type-icon-structure" (click)="filterSoftwareType('structure'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-rdc" class="sw-type-icon-med sw-type-icon-rdc" (click)="filterSoftwareType('residual-dipole-coupling'); $event.stopPropagation()"></a></div>
            </div>
            <div class="swiper-button-next arrow-right swiper-button-white"></div>
            <div class="swiper-button-prev arrow-left swiper-button-white"></div>
        </swiper>
      </div>
    </div>
    <div id="com-support-nmrbox" class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
      <h3 class="blue">NMRbox Support</h3>

        <mat-grid-list class="support-list grid-dashed" cols="2" rowHeight="180px">
          <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('documentation'); $event.stopPropagation()">
            <mat-card class="sw-card tile-card-short">
              <mat-card-header>
                <mat-card-title>Getting Started</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  An comprehensive overview of the NMRbox center mission and objectives.
                </p>
                <br/>
                <!--<a href="/">Read more</a>-->
                <a (click)="gotoDetail('overview'); $event.stopPropagation();">Read More</a>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('faqs'); $event.stopPropagation()">
            <mat-card class="sw-card tile-card-short">
              <mat-card-header>
                <mat-card-title>NMRbox FAQs</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  Here are some tips and answers to frequently asked questions from our NMRbox Community.
                </p>
                <br/>
                <a (click)="gotoDetail('faqs')">Read more</a>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('contact-us'); $event.stopPropagation()">
            <mat-card class="sw-card tile-card-short">
              <mat-card-header>
                <mat-card-title>Contact NMRbox support</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  We have a team ready to assist you with your NMRbox support needs
                </p>
                <br/>
                <a (click)="gotoDetail('contact-us')">Read more</a>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile class="tile-solid tile-transparent">
            <mat-card class="sw-card tile-card-short">
              <mat-card-header>
                <mat-card-title>Forum</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  Follow the NMRbox community conversations on our <a href="https://groups.google.com/forum/#!forum/nmrbox" target="_blank">Google group</a>
                </p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
      </mat-grid-list>
      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <div class="grid-outer-wrapper blue-light-bg">
      <div class="grid-content-wrapper">
      <h3 class="blue">Tutorials</h3>

          <mat-grid-list class="support-list grid-dashed" cols="3" rowHeight="180px">
              <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('acknowledge-us'); $event.stopPropagation()">
                  <mat-card class="sw-card tile-card-short">
                      <mat-card-header>
                          <mat-card-title>Acknowledge NMRbox</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                          <p>
                              How to acknowledge NMRbox
                          </p>
                          <br/>
                          <a (click)="gotoDetail('acknowledge-us'); $event.stopPropagation();">Read More</a>
                      </mat-card-content>
                  </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('initiating-a-collaboration'); $event.stopPropagation()">
                  <mat-card class="sw-card tile-card-short">
                      <mat-card-header>
                          <mat-card-title>Collaboration with NMRbox Team</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                          <p>
                              Instruction of how to initiate a collaboration with the NMRbox Team.
                          </p>
                          <br/>
                          <a (click)="gotoDetail('initiating-a-collaboration'); $event.stopPropagation();">Read More</a>
                      </mat-card-content>
                  </mat-card>
              </mat-grid-tile>


          </mat-grid-list>

      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
      <h3 class="blue">Software documentation</h3>
          <mat-grid-list class="support-list grid-dashed" cols="3" rowHeight="180px">
              <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('documentation'); $event.stopPropagation()">
                  <mat-card class="sw-card tile-card-short">
                      <mat-card-header>
                          <mat-card-title>User Guide</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                          <p>
                              NMRbox Dcoumentation
                          </p>
                          <br/>
                          <!--<a href="/">Read more</a>-->
                          <a (click)="gotoDetail('documentation'); $event.stopPropagation();">Read More</a>
                      </mat-card-content>
                  </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('licensing'); $event.stopPropagation()">
                  <mat-card class="sw-card tile-card-short">
                      <mat-card-header>
                          <mat-card-title>Licensing</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                          <p>
                              NMRbox User License
                          </p>
                          <br/>
                          <a (click)="gotoDetail('licensing'); $event.stopPropagation();">Read More</a>
                      </mat-card-content>
                  </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('nihresources'); $event.stopPropagation()">
                  <mat-card class="sw-card tile-card-short">
                      <mat-card-header>
                          <mat-card-title>NIH Resources</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                          <p>
                              NIH Biomedical Technology Resources
                          </p>
                          <br/>
                          <a (click)="gotoDetail('nihresources')">Read more</a>
                      </mat-card-content>
                  </mat-card>
              </mat-grid-tile>
          </mat-grid-list>

      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <div class="grid-outer-wrapper blue-light-bg">
      <div class="grid-content-wrapper">
      <h3 class="blue">Publications</h3>

          <mat-grid-list class="support-list grid-dashed workflow-list" cols="3" rowHeight="180px">
            <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('publications'); $event.stopPropagation()">
              <mat-card class="sw-card tile-card-short">
                <mat-card-header>
                  <mat-card-title>NMRbox Publications</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Lists of NMRbox research journal and publications
                  </p>
                  <br/>
                    <a (click)="gotoDetail('publications')">Read more</a>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>


            <mat-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('newsletters'); $event.stopPropagation()">
              <mat-card class="sw-card tile-card-short">
                <mat-card-header>
                  <mat-card-title>NMRbox Newsletter</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                      Our first edition of the "Inside NMRbox" newsletter is now available
                  </p>
                  <br/>
                    <a (click)="gotoDetail('publications')">Read more</a>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
      </mat-grid-list>
      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <br/>
    <br/>
  </mat-tab>

    <mat-tab id="com-events" label="Events">
        <div class="divider divider-dashed"></div>
        <div class="grid-outer-wrapper gray-bg">
            <div class="grid-content-wrapper">
                <div class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}" *ngIf="notifications.message?.length > 0">
                    {{ notifications.message }}
                </div>
                <br>
                <div *ngIf="!isLoggedIn()">
                    <div class="alert alert-info">
                        Please <a href="/signin">Sign in</a> / <a href="/signin">Sign up</a> first to register for events.
                    </div>
                </div>
                <h2 class="blue">Upcoming</h2>
                <mat-grid-list class="software-list" cols="2" rowHeight="225px" gutterSize="2">
                    <mat-grid-tile class="tile-solid" *ngFor="let event of upcoming">
                        <mat-card class="workshop-card">
                            <form (ngSubmit)="onWorkshopRegister(f)" #f="ngForm" (ngSubmit)="onSubmitWorkshops()">
                                <mat-card-header>
                                    <mat-card-title>{{event.title}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>
                                        {{event.start_date | date:'longDate'}} - {{event.end_date | date:'longDate'}}
                                    </p>
                                    <p>
                                        {{event.location}}
                                    </p>
                                    <p *ngIf="event.attendance_max != null">
                                        Attendance - {{event.attendance}}/{{event.attendance_max}}
                                    </p>
                                    <p>
                                        <a href="{{event.url}}">More information</a>
                                    </p>
                                    <input type="hidden" name="name" [(ngModel)]="event.name" style="display: block;" />

                                    <div *ngIf="isLoggedIn()">
                                        <div *ngIf="event.attendance_max !== event.attendance;then regular_button else disable_button">here is ignored</div>
                                        <ng-template #regular_button>
                                            <button type="submit" class="btn btn-primary">
                                                Register
                                            </button>
                                        </ng-template>
                                        <ng-template #disable_button>
                                            <button class="btn btn-primary" disabled>
                                                Register
                                            </button>
                                        </ng-template>
                                    </div>

                                </mat-card-content>
                            </form>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <div class="divider divider-dashed"></div>
        <div class="grid-outer-wrapper blue-med-light-bg">
            <div class="grid-content-wrapper">
                <h2 class="blue">Past Events</h2>
                <mat-grid-list class="software-list" cols="2" rowHeight="225px" gutterSize="2">
                    <mat-grid-tile class="tile-solid" *ngFor="let event of completed">
                        <mat-card class="workshop-card">
                            <mat-card-header>
                                <mat-card-title>{{event.title}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    {{event.start_date | date:'longDate'}} - {{event.end_date | date:'longDate'}}
                                </p>
                                <p>
                                    {{event.location}}
                                </p>
                                <p>
                                    <a href="{{event.url}}">More information</a>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>

                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </mat-tab>

  <!--
    <mat-tab id="com-forum" label="Forum">
        <div class="divider divider-dashed"></div>
        <div class="grid-outer-wrapper gray-bg">
            <div class="grid-content-wrapper">
                <div class="col-md-10 col-md-offset-1 alert alert-info">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <p class="text-info">
                        Follow the NMRbox community conversations on our <a href="https://groups.google.com/forum/#!forum/nmrbox">Google group</a>
                    </p>
                </div>
            </div>
        </div>



    </mat-tab> -->


    <!--<mat-tab id="com-blog" label="Blog" class="co-sub-icon co-icon-med co-icon-blog">
    <div class="sw-filters-container sw-filters-search-only">
      <div class="sw-filters">
        <mat-form-field id="search">
          <input matInput #searchBox id="search-box" (keyup)="searchSoftware(searchBox.value)" placeholder="search blog" />
          <span class="icon-search"></span>
        </mat-form-field>
      </div>
    </div>
    <div class="divider divider-dashed hidden"></div>
    <div class="grid-outer-wrapper gray-bg">
      <div class="grid-content-wrapper">
      <h3 class="blue">Most Recent</h3>
      <mat-grid-list class="software-list" cols="3" rowHeight="335px">
        <mat-grid-tile class="tile-solid" *ngFor="let blog of blogMostRecentList" (click)="gotoDetail(blog); $event.stopPropagation()">
          <mat-card class="sw-card">
            <img mat-card-image src="{{blog.url}}">
            <mat-card-header>
              <mat-card-title>{{blog.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{blog.synopsis}}
              </p>
              <a href="/">Read more</a>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <div class="grid-outer-wrapper blue-bg">
      <div class="grid-content-wrapper">
      <h3 class="blue">This Month</h3>
      <mat-grid-list class="software-list" cols="3" rowHeight="335px">
        <mat-grid-tile class="tile-solid" *ngFor="let blog of blogNextList" (click)="gotoDetail(blog); $event.stopPropagation()">
          <mat-card class="sw-card">
            <img mat-card-image src="{{blog.url}}">
            <mat-card-header>
              <mat-card-title>{{blog.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{blog.synopsis}}
              </p>
              <a href="/">Read more</a>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      </div>
    </div>
  </mat-tab>-->

</mat-tab-group>
</div>
