<div class="section-banner-new">
  <img src="/assets/graphics/community-tab/community-header-outline.svg" alt="Community">
</div>
<div class="section-banner-bg gray-bg"></div>

<div class="section-submenu section-submenu-community blue-bg"></div>
<div class="tab-group-container">

  <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">

    <mat-tab>
      <ng-template mat-tab-label>
        <img *ngIf="selectedIndex != 0 && selectedIndex != null" src="/assets/graphics/community-tab/events-off-outline.svg" alt="Events">
        <img *ngIf="selectedIndex == 0 || selectedIndex == null" src="/assets/graphics/community-tab/events-on-outline.svg" alt="Events">
      </ng-template>

      <ng-template matTabContent>
        <div class="divider divider-dashed"></div>
        <div class="grid-outer-wrapper gray-bg">
          <div class="grid-content-wrapper">
            <div *ngIf="notifications?.message && notifications.type"
                 class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}"
                 [innerHTML]="notifications.message | safeHtml">
            </div>
            <br>
            <h2 *ngIf="upcoming" class="blue">Upcoming events</h2>
            <h2 *ngIf="!upcoming">No upcoming events</h2>
            <mat-grid-list class="software-list" [cols]="responsiveService.columns" rowHeight="225px" gutterSize="2">

              <a [href]="event.url" target="_blank" *ngFor="let event of upcoming">
              <mat-grid-tile class="tile-solid">
                <mat-card class="workshop-card">
                  <form (ngSubmit)="onWorkshopRegister(event.name)">
                    <mat-card-header>
                      <mat-card-title [innerHTML]="event.title"></mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>{{event.start_date | date:'longDate'}} - {{event.end_date | date:'longDate'}}</p>
                      <p>{{event.location}}</p>
                      <ng-container *ngIf="event.attendance_max != null">
                        <p *ngIf="event.attendance !== null">Attendance - {{event.attendance}}
                          /{{event.attendance_max}}</p>
                        <p *ngIf="event.attendance === null">Max attendance - {{event.attendance_max}}</p>
                        <p><a [href]="event.url" target="_blank">More information</a></p>
                        <div *ngIf="authService.userID; else signin">
                          <button *ngIf="authService.hasClassification(event.name); else register"
                                  class="btn btn-primary" disabled type="button">You are already registered!
                          </button>
                          <ng-template #register>
                            <button *ngIf="event.attendance_max > event.attendance; else disable_button"
                                    class="btn btn-primary" type="submit">Register
                            </button>
                            <ng-template #disable_button>
                              <button class="btn btn-primary" type="button" disabled>Registration Full</button>
                            </ng-template>
                          </ng-template>
                        </div>
                        <ng-template #signin>
                          <button class="btn btn-primary" routerLink="/signin" type="button">Please sign in to
                            register
                          </button>
                        </ng-template>
                      </ng-container>
                    </mat-card-content>
                  </form>
                </mat-card>
              </mat-grid-tile>
              </a>
            </mat-grid-list>
          </div>
        </div>
        <div class="divider divider-dashed"></div>
        <div class="grid-outer-wrapper blue-med-light-bg">
          <div class="grid-content-wrapper">
            <h2 class="blue">Past Events</h2>
            <mat-grid-list class="software-list" [cols]="responsiveService.columns" rowHeight="225px" gutterSize="2">
              <a [href]="event.url" target="_blank" *ngFor="let event of completed">
                <mat-grid-tile class="tile-solid" >
                <mat-card class="workshop-card">
                  <mat-card-header>
                    <mat-card-title>{{event.title}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>{{event.start_date | date:'longDate'}} - {{event.end_date | date:'longDate'}}</p>
                    <p>{{event.location}}</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
              </a>
            </mat-grid-list>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img *ngIf="selectedIndex != 1 " src="/assets/graphics/community-tab/publications-off-outline.svg" alt="Publications">
        <img *ngIf="selectedIndex == 1" src="/assets/graphics/community-tab/publications-on-outline.svg" alt="Publications">
      </ng-template>

      <ng-template matTabContent>
        <div class="grid-outer-wrapper">
          <div class="grid-content-wrapper">
            <h3 class="blue">Publications</h3>

            <mat-grid-list class="support-list grid-dashed" [cols]="responsiveService.columns" rowHeight="180px">
              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/publications">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>NMRbox Publications</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>Lists of NMRbox research journal and publications</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/acknowledge-us">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Acknowledge NMRbox</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>How to acknowledge NMRbox</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>

          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab id="com-support" class="co-sub-icon co-icon-med co-icon-support">
      <ng-template mat-tab-label>
        <img *ngIf="selectedIndex != 2" src="/assets/graphics/community-tab/connect-off-outline.svg" alt="Connect">
        <img *ngIf="selectedIndex == 2" src="/assets/graphics/community-tab/connect-on-outline.svg" alt="Connect">
      </ng-template>
      <ng-template matTabContent>

        <div id="com-support-nmrbox" class="grid-outer-wrapper">
          <div class="grid-content-wrapper">
            <h3 class="blue">NMRbox Community</h3>

            <mat-grid-list class="support-list grid-dashed" [cols]="responsiveService.columns" rowHeight="180px">
              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/overview">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Center Overview</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>An comprehensive overview of the NMRbox center mission and objectives.</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/initiating-a-collaboration">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Collaboration with NMRbox Team</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>Instruction of how to initiate a collaboration with the NMRbox Team.</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <a href="https://groups.google.com/forum/#!forum/nmrbox" target="_blank">
                <mat-grid-tile class="tile-solid tile-transparent">
                  <mat-card class="standard-card tile-card-short">
                    <mat-card-header>
                      <mat-card-title>Forum</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>Follow the NMRbox community conversations on our Google group.
                      </p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </a>

              <a href="https://twitter.com/@NMRbox" target="_blank">
                <mat-grid-tile class="tile-solid tile-transparent">
                  <mat-card class="standard-card tile-card-short">
                    <mat-card-header>
                      <mat-card-title>Social Media</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>Follow the NMRbox community conversations on our
                        Twitter page.
                      </p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </a>

              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/newsletters">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>NMRbox Newsletter</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>Our first edition of the "Inside NMRbox" newsletter is now available</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

            </mat-grid-list>
          </div>
        </div>
      </ng-template>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <img *ngIf="selectedIndex != 3" src="/assets/graphics/community-tab/teams-off-outline.svg" alt="Teams">
        <img *ngIf="selectedIndex == 3" src="/assets/graphics/community-tab/teams-on-outline.svg" alt="Teams">
      </ng-template>

      <ng-template matTabContent>
        <div class="grid-outer-wrapper">
          <div class="grid-content-wrapper">
            <h3 class="blue">Teams</h3>

            <mat-grid-list class="support-list grid-dashed" [cols]="responsiveService.columns" rowHeight="180px">
              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/people-leadership">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Leadership</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>Information about the leaders of the NMRbox project.</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/people-all-staff">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Staff</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>A list of the NMRbox staff members.</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/people-eab">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Advisory</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>The advisory board members.</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
