<div class="section-banner section-banner-community"></div>
<div class="section-banner-bg gray-bg"></div>

<div class="section-submenu section-submenu-community blue-bg"></div>
<div class="tab-group-container">

<md-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">

    <md-tab id="com-support" label="Support" class="co-sub-icon co-icon-med co-icon-support">
    
  <div class="sw-filters-container">
      <!--<div class="sw-filters">
        <md-select id="rp-select" placeholder="Research problem"></md-select>
        <md-select id="st-select" class="menu-open" placeholder="Software type"></md-select>
        <md-select id="sw-select" class="menu-open" placeholder="Software package"></md-select>
        <a id="all-software" (click)="getCommunityList(); $event.stopPropagation()">Clear filters</a>
        <md-input-container id="search">
          <input mdInput #searchBox id="search-box" (keyup)="searchSoftware(searchBox.value)" placeholder="search support"/>
          <span class="icon-search"></span>
        </md-input-container>
      </div>-->
      <div id="software-types-menu" class="sw-menu-wrapper hidden">
        <swiper [config]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a id="sw-spectral" class="sw-type-icon-med sw-type-icon-spectral" (click)="filterSoftwareType('spectral'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-assignment" class="sw-type-icon-med sw-type-icon-assignment" (click)="filterSoftwareType('assignment'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-relaxation" class="sw-type-icon-med sw-type-icon-relaxation" (click)="filterSoftwareType('relaxation'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-chemical-shift" class="sw-type-icon-med sw-type-icon-chemical-shift" (click)="filterSoftwareType('chemical-shift'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-molecular-modeling" class="sw-type-icon-med sw-type-icon-molecular-modeling" (click)="filterSoftwareType('molecular-modeling'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-structure" class="sw-type-icon-med sw-type-icon-structure" (click)="filterSoftwareType('structure'); $event.stopPropagation()"></a></div>
                <div class="swiper-slide"><a id="sw-rdc" class="sw-type-icon-med sw-type-icon-rdc" (click)="filterSoftwareType('residual-dipole-coupling'); $event.stopPropagation()"></a></div>
            </div>
            <div class="swiper-button-next arrow-right swiper-button-white"></div>
            <div class="swiper-button-prev arrow-left swiper-button-white"></div>
        </swiper>
      </div>
    </div>
    <div id="com-support-nmrbox" class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
      <h3 class="blue">NMRbox Support</h3>

        <md-grid-list class="support-list grid-dashed" cols="3" rowHeight="180px">
          <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('documentation'); $event.stopPropagation()">
            <md-card class="sw-card tile-card-short">
              <md-card-header>
                <md-card-title>Getting Started</md-card-title>
              </md-card-header>
              <md-card-content>
                <p>
                  NMRbox center overview
                </p>
                <br/>
                <!--<a href="/">Read more</a>-->
                <a (click)="gotoDetail('overview'); $event.stopPropagation();">Read More</a>
              </md-card-content>
            </md-card>
          </md-grid-tile>

        <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('faqs'); $event.stopPropagation()">
          <md-card class="sw-card tile-card-short">
            <md-card-header>
              <md-card-title>NMRbox FAQs</md-card-title>
            </md-card-header>
            <md-card-content>
              <p>
                Here are some tips and answers to frequently asked questions from our NMRbox Community.
              </p>
              <br/>
              <a (click)="gotoDetail('faqs')">Read more</a>
            </md-card-content>
          </md-card>
        </md-grid-tile>

        <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('contact-us'); $event.stopPropagation()">
          <md-card class="sw-card tile-card-short">
            <md-card-header>
              <md-card-title>Contact NMRbox support</md-card-title>
            </md-card-header>
            <md-card-content>
              <p>
                We have a team ready to assist you with your NMRbox support needs
              </p>
              <br/>
              <a (click)="gotoDetail('contact-us')">Read more</a>
            </md-card-content>
          </md-card>
        </md-grid-tile>
      </md-grid-list>
      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <div class="grid-outer-wrapper blue-light-bg">
      <div class="grid-content-wrapper">
      <h3 class="blue">Tutorials</h3>

          <md-grid-list class="support-list grid-dashed" cols="3" rowHeight="180px">
              <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('acknowledge-us'); $event.stopPropagation()">
                  <md-card class="sw-card tile-card-short">
                      <md-card-header>
                          <md-card-title>Acknowledge NMRbox</md-card-title>
                      </md-card-header>
                      <md-card-content>
                          <p>
                              How to acknowledge NMRbox
                          </p>
                          <br/>
                          <!--<a href="/">Read more</a>-->
                          <a (click)="gotoDetail('acknowledge-us'); $event.stopPropagation();">Read More</a>
                      </md-card-content>
                  </md-card>
              </md-grid-tile>

              <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('/'); $event.stopPropagation()">
                  <md-card class="sw-card tile-card-short">
                      <md-card-header>
                          <md-card-title>Collaboration with NMRbox Team</md-card-title>
                      </md-card-header>
                      <md-card-content>
                          <p>
                              Instruction of how to initiate a collaboration with the NMRbox Team.
                          </p>
                          <br/>
                          <a href="/">Read more</a>
                      </md-card-content>
                  </md-card>
              </md-grid-tile>


          </md-grid-list>

      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
      <h3 class="blue">Software documentation</h3>
          <md-grid-list class="support-list grid-dashed" cols="3" rowHeight="180px">
              <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('documentation'); $event.stopPropagation()">
                  <md-card class="sw-card tile-card-short">
                      <md-card-header>
                          <md-card-title>User Guide</md-card-title>
                      </md-card-header>
                      <md-card-content>
                          <p>
                              NMRbox Dcoumentation
                          </p>
                          <br/>
                          <!--<a href="/">Read more</a>-->
                          <a (click)="gotoDetail('documentation'); $event.stopPropagation();">Read More</a>
                      </md-card-content>
                  </md-card>
              </md-grid-tile>

              <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('licensing'); $event.stopPropagation()">
                  <md-card class="sw-card tile-card-short">
                      <md-card-header>
                          <md-card-title>Licensing</md-card-title>
                      </md-card-header>
                      <md-card-content>
                          <p>
                              NMRbox User License
                          </p>
                          <br/>
                          <a (click)="gotoDetail('licensing'); $event.stopPropagation();">Read More</a>
                      </md-card-content>
                  </md-card>
              </md-grid-tile>

              <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('nihresources'); $event.stopPropagation()">
                  <md-card class="sw-card tile-card-short">
                      <md-card-header>
                          <md-card-title>NIH Resources</md-card-title>
                      </md-card-header>
                      <md-card-content>
                          <p>
                              NIH Biomedical Technology Resources
                          </p>
                          <br/>
                          <a (click)="gotoDetail('nihresources')">Read more</a>
                      </md-card-content>
                  </md-card>
              </md-grid-tile>
          </md-grid-list>

      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <div class="grid-outer-wrapper blue-light-bg">
      <div class="grid-content-wrapper">
      <h3 class="blue">Publications</h3>

          <md-grid-list class="support-list grid-dashed workflow-list" cols="3" rowHeight="180px">
            <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('publications'); $event.stopPropagation()">
              <md-card class="sw-card tile-card-short">
                <md-card-header>
                  <md-card-title>NMRbox Publications</md-card-title>
                </md-card-header>
                <md-card-content>
                  <p>
                    Lists of NMRbox research journal and publications
                  </p>
                  <br/>
                    <a (click)="gotoDetail('publications')">Read more</a>
                </md-card-content>
              </md-card>
            </md-grid-tile>


            <md-grid-tile class="tile-solid tile-transparent" (click)="gotoDetail('newsletters'); $event.stopPropagation()">
              <md-card class="sw-card tile-card-short">
                <md-card-header>
                  <md-card-title>NMRbox Newsletter</md-card-title>
                </md-card-header>
                <md-card-content>
                  <p>
                      Our first edition of the "Inside NMRbox" newsletter is now available
                  </p>
                  <br/>
                    <a (click)="gotoDetail('publications')">Read more</a>
                </md-card-content>
              </md-card>
            </md-grid-tile>
      </md-grid-list>
      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <br/>
    <br/>
  </md-tab>

    <md-tab id="com-events" label="Events">
        <div class="divider divider-dashed"></div>
        <div class="grid-outer-wrapper gray-bg">
            <div class="grid-content-wrapper">
                <div class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}" *ngIf="notifications.message?.length > 0">
                    {{ notifications.message }}
                </div>
                <br>
                <div *ngIf="!isLoggedIn()">
                    <div class="alert alert-info">
                        Please <a href="/signin">Sign in</a> / <a href="/signin">Sign up</a> first to register for events.
                    </div>
                </div>
                <h2 class="blue">Upcoming</h2>
                <md-grid-list class="software-list" cols="2" rowHeight="225px" gutterSize="2">
                    <md-grid-tile class="tile-solid" *ngFor="let event of eventsList.upcoming">
                        <md-card class="workshop-card">
                            <form (ngSubmit)="onWorkshopRegister(f)" #f="ngForm" (ngSubmit)="onSubmitWorkshops()">
                                <md-card-header>
                                    <md-card-title>{{event.title}}</md-card-title>
                                </md-card-header>
                                <md-card-content>
                                    <p>
                                        {{event.start_date | date:'longDate'}} - {{event.end_date | date:'longDate'}}
                                    </p>
                                    <p>
                                        {{event.location}}
                                    </p>
                                    <p *ngIf="event.attendance_max != null">
                                        Attendance - {{event.attendance}}/{{event.attendance_max}}
                                    </p>
                                    <p>
                                        <a href="{{event.url}}">More information</a>
                                    </p>
                                    <input type="hidden" name="name" [(ngModel)]="event.name" style="display: block;" />

                                    <div *ngIf="isLoggedIn()">
                                        <div *ngIf="event.attendance_max !== event.attendance;then regular_button else disable_button">here is ignored</div>
                                        <ng-template #regular_button>
                                            <button type="submit" class="btn btn-primary">
                                                Register
                                            </button>
                                        </ng-template>
                                        <ng-template #disable_button>
                                            <button class="btn btn-primary" disabled>
                                                Register
                                            </button>
                                        </ng-template>
                                    </div>

                                </md-card-content>
                            </form>
                        </md-card>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
        <div class="divider divider-dashed"></div>
        <div class="grid-outer-wrapper blue-med-light-bg">
            <div class="grid-content-wrapper">
                <h2 class="blue">Past Events</h2>
                <md-grid-list class="software-list" cols="2" rowHeight="225px" gutterSize="2">
                    <md-grid-tile class="tile-solid" *ngFor="let event of eventsList.completed">
                        <md-card class="workshop-card">
                            <md-card-header>
                                <md-card-title>{{event.title}}</md-card-title>
                            </md-card-header>
                            <md-card-content>
                                <p>
                                    {{event.start_date | date:'longDate'}} - {{event.end_date | date:'longDate'}}
                                </p>
                                <p>
                                    {{event.location}}
                                </p>
                                <p>
                                    <a href="{{event.url}}">More information</a>
                                </p>
                            </md-card-content>
                            <md-card-actions>
                                <!--<button md-button>LIKE</button>
                                <button md-button>SHARE</button>-->
                            </md-card-actions>
                        </md-card>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </md-tab>

    <md-tab id="com-forum" label="Forum">Forum</md-tab>

    <md-tab id="com-blog" label="Blog" class="co-sub-icon co-icon-med co-icon-blog">
    <div class="sw-filters-container sw-filters-search-only">
      <div class="sw-filters">
        <md-input-container id="search">
          <input mdInput #searchBox id="search-box" (keyup)="searchSoftware(searchBox.value)" placeholder="search blog" />
          <span class="icon-search"></span>
        </md-input-container>
      </div>
    </div>
    <div class="divider divider-dashed hidden"></div>
    <div class="grid-outer-wrapper gray-bg">
      <div class="grid-content-wrapper">
      <h3 class="blue">Most Recent</h3>
      <md-grid-list class="software-list" cols="3" rowHeight="335px">
        <md-grid-tile class="tile-solid" *ngFor="let blog of blogMostRecentList" (click)="gotoDetail(blog); $event.stopPropagation()">
          <md-card class="sw-card">
            <img md-card-image src="{{blog.url}}">
            <md-card-header>
              <md-card-title>{{blog.name}}</md-card-title>
            </md-card-header>
            <md-card-content>
              <p>
                {{blog.synopsis}}
              </p>
              <a href="/">Read more</a>
            </md-card-content>
          </md-card>
        </md-grid-tile>
      </md-grid-list>
      </div>
    </div>
    <div class="divider divider-dashed"></div>
    <div class="grid-outer-wrapper blue-bg">
      <div class="grid-content-wrapper">
      <h3 class="blue">This Month</h3>
      <md-grid-list class="software-list" cols="3" rowHeight="335px">
        <md-grid-tile class="tile-solid" *ngFor="let blog of blogNextList" (click)="gotoDetail(blog); $event.stopPropagation()">
          <md-card class="sw-card">
            <img md-card-image src="{{blog.url}}">
            <md-card-header>
              <md-card-title>{{blog.name}}</md-card-title>
            </md-card-header>
            <md-card-content>
              <p>
                {{blog.synopsis}}
              </p>
              <a href="/">Read more</a>
            </md-card-content>
          </md-card>
        </md-grid-tile>
      </md-grid-list>
      </div>
    </div>
  </md-tab>



</md-tab-group>
</div>