<div class="page-wrapper">
  <mat-toolbar class="toolbar-transparent">
    <div class="menu-wrapper">
      <div><br><br></div>
      <span class="page-title">Forgot Password</span>
    </div>
  </mat-toolbar>
  <section class="page-section">
    <div class="container nmrbox-custom-container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="white">Forget your password?</h3>
          <hr>
          <div *ngIf="notifications?.message && notifications.type"
               [innerHTML]="notifications.message | safeHtml"
               class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}">
          </div>
          <form #f="ngForm" (ngSubmit)="onPasswordSubmit(f)" autocomplete="off">
            <div class="input-group ">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input autocomplete="off" class="form-control" name="email" ngModel placeholder="Institutional Email" required type="email" value="">
            </div>
            <input class="btn btn-block btn-primary" style="margin-top:10px;" type="submit" value="Reset Your Password">
          </form>
          <div>
            <h4 class="text-center text-primary">
              <a routerLink="/signin" routerLinkActive="active">Sign in</a> or
              <a routerLink="/signup" routerLinkActive="active">Sign up</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
