<div class="section-banner section-banner-team"></div>
<div class="section-banner-bg yellow-orange-bg"></div>

<div class="section-submenu section-submenu-team yellow-orange-bg"></div>
<div class="tab-group-container">
<md-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">

  <md-tab id="team-leadership" label="Leadership" class="co-sub-icon co-icon-med team-icon-leadership">
    <!-- test -->
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="community-details" *ngIf="pageContent">
          <section class="section-detail">

            <div *ngIf="pageContent.content; then htmlBlock else plainTextBlock"></div>
            <ng-template #htmlBlock>
              <div id="support-detail-description" [innerHTML]="pageContent.content"></div>
            </ng-template>

          </section>

          <br/><br/>
        </div>
      </div>
    </div>
    <br/><br/>
  </md-tab>

  <md-tab id="team-research" label="Research test" class="co-sub-icon co-icon-med team-icon-research">
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="community-details" *ngIf="pageContent">
          <section class="section-detail">

            <div *ngIf="pageContent.content; then htmlBlock else plainTextBlock"></div>
            <ng-template #htmlBlock>
              <div id="support-detail-description" [innerHTML]="pageContent.content"></div>
            </ng-template>

          </section>

          <br/><br/>
        </div>
      </div>
    </div>

    <br/><br/>
  </md-tab>

  <md-tab id="team-integral" label="Integral">
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="community-details" *ngIf="pageContent">
          <section class="section-detail">

            <div *ngIf="pageContent.content; then htmlBlock else plainTextBlock"></div>
            <ng-template #htmlBlock>
              <div id="support-detail-description" [innerHTML]="pageContent.content"></div>
            </ng-template>

          </section>

          <br/><br/>
        </div>
      </div>
    </div>

    <br/><br/>
  </md-tab>

  <md-tab id="team-eab" label="EAB">
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="community-details" *ngIf="pageContent">
          <section class="section-detail">

            <div *ngIf="pageContent.content; then htmlBlock else plainTextBlock"></div>
            <ng-template #htmlBlock>
              <div id="support-detail-description" [innerHTML]="pageContent.content"></div>
            </ng-template>

          </section>

          <br/><br/>
        </div>
      </div>
    </div>

    <br/><br/>
  </md-tab>

  <md-tab id="team-about" label="About">
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        About page content goes here...
      </div>
    </div>
  </md-tab>

</md-tab-group>
</div>

