<div class="team-details-wrapper">
  <md-toolbar class="toolbar-transparent">
    <div class="menu-wrapper">
      <button (click)="goBack()">
        <svg width="15px" height="20px" viewBox="0 0 50 80" xml:space="preserve">
          <polyline fill="none" stroke="#313131" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
        45.63,75.8 0.375,38.087 45.63,0.375 "/>
        </svg> 
      </button>
      <span class="page-title">Teams</span>
    </div>
  </md-toolbar>
  <div class="team-details">
    <h1>Technology Research and Development #1 </h1>
    <section>
      <p>A software environment for bio-NMR Data Processing and Analysis: NMRbox</p>
    </section>
    <section id="sw-detail-description">
        <h3>Summary</h3>
        <p>
          The broad aim of TRD1 is to utilize existing and emerging virtualization technology to
          simplify the development, installation, distribution, and maintenance of the complex software environment needed to support bio-NMR studies. This platform is designed to foster the
          reproducibility of bio-NMR studies by providing persistent access to fully configured
          computational resources.
        </p>
        <img src="assets/temp-content/teams/r-graphic-diagram.png" />
        <h3>Overview</h3>
        <p>
          Virtualization refers to methods for simulating a hardware and/or software environment.
          Modern processors are designed with virtualization technology built-in, thereby
          allowing “guest” virtual machines (VMs) to run at near native performance on a “host”
          computer.
        </p>
        <p>
          The VMs may be downloaded and executed locally or accessed remotely as a cloud-based
          Platform-as-a-Service (PaaS) through virtual network computing (VNC). Virtualization is a
          robust technology that delivers multiple benefits:
        </p>
        <h3>Innovative Ideas</h3>
        <p>
          NMRbox provides a persistent computing platform that both maintains access to previously
          developed software packages and fosters reproducible research – a hallmark of the scientific
          process that is often not achieved. The spectroscopistbenefits from a zero-configuration
          platform provisioned with easy to discover software with zero-cost access to significant
          computational resources. The software developer is able to focus development and support
          on a single target OS with the enhanced ability to develop software tools that integrate
          multiple primary software packages already managed by the Center.
        </p>
        <h3>Key Objectives</h3>
        <p>
          Develop the NMRbox virtual machine provisioned with software utilized in
          NMR data processing and analysis. Software included in NMRbox will be determined by
          community polls and the needs of the DBPs and Collaborators, in consultation with the
          External Advisory Board (EAB). Software developers will be engaged in both the
          provisioning process and the Center’s training and dissemination activities.
        </p>
        <p>
          Develop a distribution platform for the NMRbox VM and its associated resources.This website will allow users and software developers to create accounts, download VMs, manage
individual PaaS VMs, discover software, and access training information.
        </p>
        <p>
          Develop a system for passing tasks that benefit from parallelization from PaaS VMs to
distributed computing clusters. Many NMR software applications such as those performing structure calculations and maximum entropy reconstructions of NMR data are embarrassingly simple to parallelize across computer clusters. We will develop tools within NMRbox to allow near seamless integration between the PaaS VMs and in-house compute clusters.
        </p>
    </section>
    <br/><br/>
  </div>
</div>