<div class="section-banner section-banner-team"></div>
<div class="section-banner-bg yellow-orange-bg"></div>

<div class="section-submenu section-submenu-team yellow-orange-bg"></div>
<div class="tab-group-container">
<md-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">

  <md-tab id="team-leadership" label="Leadership" class="co-sub-icon co-icon-med team-icon-leadership">
    <!-- test -->
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="community-details" *ngIf="pageContent">
          <section class="section-detail">

            <div *ngIf="pageContent.content; then htmlBlock else plainTextBlock"></div>
            <ng-template #htmlBlock>
              <div id="support-detail-description" [innerHTML]="pageContent.content"></div>
            </ng-template>

          </section>

          <br/><br/>
        </div>
      </div>
    </div>

    <!-- eof test -->
    <!--<div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <h3>Director</h3>
        <p>
          <strong>Jeffrey C. Hoch, Ph.D.</strong><br/>
          Professor of Molecular Biology and Biophysics<br/>
          UConn Health<br/>
          <a href="mailto:hoch@uchc.edu">hoch@uchc.edu</a>
        </p>
        <div class="divider divider-dashed"></div>
        <h3>Associate Director</h3>
        <p>
          <strong>Mark W. Maciejewski, Ph.D.</strong><br/>
          Assistant Professor of Molecular Biology and Biophysics<br/>
          <a href="mailto:markm@uchc.edu">markm@uchc.edu</a>
        </p>
      <div class="divider divider-dashed"></div>
        <h3>TRD 1 Co-Directors</h3>
        <p>
          <strong>Mark W. Maciejewski, Ph.D.</strong><br/>
          Assistant Professor of Molecular Biology and Biophysics<br/>
          <a href="mailto:markm@uchc.edu">markm@uchc.edu</a>
        </p>
        <p>
          <strong>Adam D. Schuyler, Ph.D.</strong><br/>
          Assistant Professor of Molecular Biology and Biophysics<br/>
          <a href="mailto:schuyler@uchc.edu">schuyler@uchc.edu</a>
        </p>
      <div class="divider divider-dashed"></div>
        <h3>TRD 2 Co-Directors</h3>
        <p>
          <strong>Pedro Romero, Ph.D.</strong><br/>
          Staff Scientist and Director, BMRB<br/>
          Department of Biochemistry<br/>
          University of Wisconsin, Madison<br/>
          <a href="mailto:promero@wisc.edu">promero@wisc.edu</a>
        </p>
        <p>
          <strong>Michael R. Gryk, Ph.D.</strong><br/>
          Associate Professor of Molecular Biology and Biophysics<br/>
          UConn Health<br/>
          <a href="mailto:gryk@uchc.edu">gryk@uchc.edu</a>
        </p>
      <div class="divider divider-dashed"></div>
        <h3>TRD 3 Co-Directors</h3>
        <p>
          <strong>Hamid R. Eghbalnia, Ph.D.</strong><br/>
          Staff Scientist<br/>
          Department of Biochemistry<br/>
          University of Wisconsin, Madison<br/>
          Chief Technology Officer<br/>
          <a href="mailto:hamid.eghbalnia@wisc.edu">hamid.eghbalnia@wisc.edu</a>
        </p>
        <p>
          <strong>Ion Moraru, M.D., Ph.D.</strong><br/>
          Professor of Cell Biology<br/>
          UConn Health<br/>
          <a href="mailto:moraru@uchc.edu">moraru@uchc.edu</a>
        </p>
      </div>
    </div>-->
    <br/><br/>
  </md-tab>

  <md-tab id="team-research" label="Research" class="co-sub-icon co-icon-med team-icon-research">
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="community-details" *ngIf="pageContent">
          <section class="section-detail">

            <div *ngIf="pageContent.content; then htmlBlock else plainTextBlock"></div>
            <ng-template #htmlBlock>
              <div id="support-detail-description" [innerHTML]="pageContent.content"></div>
            </ng-template>

          </section>

          <br/><br/>
        </div>
      </div>
    </div>
    <!--<div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <h2><a (click)="gotoDetail(); $event.stopPropagation();">Technology Research and Development #1</a></h2>
        <p class="subheading">
          A software environment for bio-NMR Data Processing and Analysis: NMRbox
        </p>
        <h3>Investigators</h3>
        <p>
          Mark Maciejewski<br/>
          Adam Schuyler<br/>
          Ion Moraru
        </p>
        <h3>Staff</h3>
        <p>
          Gerard Weatherby<br/>
          Mosrur Chowdhury<br/>
          Dillon Jones<br/>
          Ion Moraru
        </p>
        
        <div class="divider divider-dashed"></div>
        <h2><a href="/t/detail">Technology Research and Development #2</a></h2>
        <p class="subheading">
          NMRbox information management CONNJUR and BMRB integration
        </p>
        <h3>Investigators</h3>
        <p>
          Michael Gryk<br/>
          Eldon Ulrich<br/>
          Pedro R. Romero
        </p>
        <h3>Staff</h3>
        <p>
          Dimitri Maziuk<br/>
          Jon Wedell<br/>
          Kumaran Baskaran<br/>
          Gerard Weatherby
        </p>

        <div class="divider divider-dashed"></div>
        <h2><a href="/t/detail">Technology Research and Development #3</a></h2>
        <h3>Investigators</h3>
        <p>
          Hamid Eghbalnia
        </p>
        <h3>Staff</h3>
        <p>
          Hesam Dashti
        </p>
      </div>
    </div>-->
    <br/><br/>
  </md-tab>

  <md-tab id="team-integral" label="Integral">
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="community-details" *ngIf="pageContent">
          <section class="section-detail">

            <div *ngIf="pageContent.content; then htmlBlock else plainTextBlock"></div>
            <ng-template #htmlBlock>
              <div id="support-detail-description" [innerHTML]="pageContent.content"></div>
            </ng-template>

          </section>

          <br/><br/>
        </div>
      </div>
    </div>
    <!--<div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <h2>External Advisory Board</h2>
        <p>
          <strong>Ivet Bahar, Ph.D. </strong><br/>
          Professor of Computational & Systems Biology <br/>
          University of Pittsburgh <br/>
        </p>
        <p>
          <strong>Jean Baum, Ph.D. </strong><br/>
          Professor of Chemistry <br/>
          Rutgers University <br/>
        </p>
        <p>
          <strong>Jane Dyson, Ph.D. </strong><br/>
          Professor of Integrative Structural and Computational Biology <br/>
          The Scripps Research Institute <br/>
        </p>
        <p>
          <strong>Arthur Edison, Ph.D. </strong><br/>
          Professor of Biochemistry and Molecular Biology <br/>
          University of Georgia <br/>
        </p>
        <p>
          <strong>Kevin Gardner, Ph.D. </strong><br/>
          Einstein Professor of Chemistry <br/>
          City University of New York <br/>
        </p>
        <p>
          <strong>Lila Gierasch, Ph.D.</strong><br/>
          Professor of Biochemistry <br/>
          University of Massachusetts, Amherst <br/>
        </p>
        <p>
          <strong>Robert G. Griffin, Ph.D. </strong><br/>
          Professor of Chemistry <br/>
          MIT <br/>
        </p>
        <p>
          <strong>Dmitry Krepkiy, Ph.D. </strong><br/>
          Program Director, Biomedical Technology, Bioinformatics, and Computational Biology<br/>
          NIH <br/>
        </p>
        <p>
          <strong>Les Loew, Ph.D.</strong><br/>
          Professor of Cell Biology <br/>
          UConn Health <br/>
        </p>
      </div>
    </div>
    
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="divider divider-dashed"></div>
        <h2>Administrative Staff</h2>
        <p>
          <strong>Jenifer Gilman, Administrative Officer </strong><br/>
          Department of Molecular Biology and Biophysics <br/>
          UConn Health <br/>
          <a href="mailto:gilman@uchc.edu">gilman@uchc.edu</a>
        </p>
        <p>
          <strong>Oksana Gorbatyuk, Research Assistant </strong><br/>
          Department of Molecular Biology and Biophysics <br/>
          UConn Health <br/>
          <a href="mailto:gorbatyuk@uchc.edu">gorbatyuk@uchc.edu</a>
        </p>
      </div>
    </div>
    
    
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        <div class="divider divider-dashed"></div>
        <h2>Technical Staff</h2>
        <p>
          <strong>Sophan Iv </strong><br/>
        </p>
        <p>
          <strong>Mosrur Chowdhury</strong><br/>
        </p>
        <p>
          <strong>Steven King</strong><br/>
        </p>
        <p>
          <strong>Gerard Weatherby, Application Architect</strong><br/>
          Department of Molecular Biology and Biophysics <br/>
          UConn Health <br/>
          <a href="mailto:gweatherby@uchc.edu">gweatherby@uchc.edu</a>
        </p>
        <p>
          <strong>Terry Wright </strong><br/>
        </p>
      </div>
    </div>-->
    <br/><br/>
  </md-tab>

  <md-tab id="team-about" label="About">
    <div class="grid-outer-wrapper">
      <div class="grid-content-wrapper">
        About page content goes here...
      </div>
    </div>
  </md-tab>

</md-tab-group>
</div>