<div class="community-details-wrapper">
  <mat-toolbar class="toolbar-transparent">
    <div class="menu-wrapper">
      <button (click)="goBack()">
        <svg width="15px" height="20px" viewBox="0 0 50 80" xml:space="preserve">
          <polyline fill="none" stroke="#313131" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
        45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
        </svg>
      </button>
      <span *ngIf="staticPage" class="page-title" [innerHTML]="staticPage.title"></span>
    </div>
  </mat-toolbar>
  <div class="community-details" *ngIf="staticPage">
    <h1 [innerHTML]="staticPage.title"></h1>
    <section class="section-detail">
      <p class="subheading" [innerHTML]="staticPage.subheader"></p>
      <div id="support-detail-description" [innerHTML]="staticPage.content"></div>
      <p *ngIf="staticPage.updated_at">Last updated at {{staticPage.updated_at}}.</p>
    </section>
  </div>
</div>
