<section class="page-section">
  <div class="content">

    <div class="row">
        <div>
            <a md-button routerLink="/app" routerLinkActive="active" class="text-center">
                <span class="nmrbox-logo-large-blue text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </a>
            <hr>
        </div>
        <h3 class="white">Forget your password?</h3>
        <div class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}" *ngIf="notifications.message?.length > 0">
            {{ notifications.message }}
        </div>
        <form (ngSubmit)="onPasswordSubmit(f)" #f="ngForm">
        <div class="input-group ">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="email" class="form-control" name="email" placeholder="Institutional Email" ngModel required value="" autocomplete="off">
        </div>
        <input type="submit" class="btn btn-block btn-primary" value="Reset Your Password" style="margin-top:10px;">
        </form>
    </div>
    <div class="panel-header">
      <h4 class="text-center text-primary">
        <a routerLink="/signin" routerLinkActive="active">Sign in</a> or
        <a routerLink="/signup" routerLinkActive="active">Sign up</a>
      </h4>
    </div>
  </div>
</section>