<section class="page-section">
    <div class="content">

        <div class="row">
            <div>
                <a mat-button routerLink="/app" routerLinkActive="active" class="text-center">
                    <span class="nmrbox-logo-large-blue text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </a>
                <hr>
            </div>
            <div class="form-group h3">Reset your password</div>
            <div class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}" *ngIf="notifications.message?.length > 0">
                {{ notifications.message }}
            </div>
            <div class="row">

            <form #passConfm="ngForm" (ngSubmit)="onPasswordConfirmSubmit(passConfm)">
                <div class="form-group">
                    <!--<span class="input-group-addon"><i class="fa fa-user"></i></span>-->
                    <input type="text" class="form-control" name="nmrbox_acct" placeholder="NMRbox Username" autocomplete="off" required>
                </div>
                <div class="form-group">
                      <!--<span class="input-group-addon"><i class="fa fa-user"></i></span>-->
                      <input type="password" #showhideinput class="form-control" name="password" placeholder="New Password" ngModel required autocomplete="off">
                </div>
                <div class="form-group">
                      <!--<span class="input-group-addon"><i class="fa fa-user"></i></span>-->
                      <input type="password" #showhideinput class="form-control" name="password_confirm" placeholder="Confirm New Password" ngModel required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary" value="Submit to Reset Password" style="margin-top:10px;" required>
                </div>
            </form>
            </div>
        </div>
        <div class="panel-header">
            <h4 class="text-center text-primary">
                <a routerLink="/signin" routerLinkActive="active">Sign in</a> or
                <a routerLink="/signup" routerLinkActive="active">Sign up</a>
            </h4>
        </div>
    </div>
</section>
