<div class="page-wrapper">
    <mat-toolbar class="toolbar-transparent">
        <div class="menu-wrapper">
            <div><br><br></div>
            <span class="page-title">Forgot Password</span>
        </div>
    </mat-toolbar>
    <section class="page-section">
      <div class="container nmrbox-custom-container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="white">Forget your password?</h3>
                <hr>
                <div *ngIf="notifications?.message && notifications.type"
                     class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}"
                     [innerHTML]="notifications.message | safeHtml">
                </div>
                <form (ngSubmit)="onPasswordSubmit(f)" #f="ngForm" autocomplete="off">
                    <div class="input-group ">
                      <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </span>
                      <input type="email" class="form-control" name="email" placeholder="Institutional Email" ngModel required value="" autocomplete="off">
                    </div>
                    <input type="submit" class="btn btn-block btn-primary" value="Reset Your Password" style="margin-top:10px;">
                </form>
                <div>
                    <h4 class="text-center text-primary">
                        <a routerLink="/signin" routerLinkActive="active">Sign in</a> or
                        <a routerLink="/signup" routerLinkActive="active">Sign up</a>
                    </h4>
                </div>
            </div>
        </div>
      </div>
    </section>
</div>
