<div class="section-banner-new">
  <img src="/assets/graphics/software-tab/software-header-outline.svg" alt="Software">
</div>
<div class="section-banner-bg gray-bg"></div>
<div class="sw-filters-container">
  <div class="sw-filters">
    <mat-form-field>
      <mat-select [(ngModel)]="activeResearchProblem" placeholder="Research problem">
        <mat-select-trigger>
          <img
            src="./assets/graphics/software-tab/rp-icon-{{softwareService.researchSlugs[activeResearchProblem]}}-menu-outline.svg"
            [alt]="softwareService.researchProblems[activeResearchProblem]"
            [title]="softwareService.researchProblems[activeResearchProblem]"
            *ngIf="activeResearchProblem">
        </mat-select-trigger>
        <mat-option (click)="filterSelections()" [value]='null'>Show all</mat-option>
        <mat-option
          *ngFor="let index of ['21','22','23','24','25']"
          [value]="index"
          (click)="filterSelections()">
          <img src="./assets/graphics/software-tab/rp-icon-{{softwareService.researchSlugs[index]}}-menu-outline.svg"
               [alt]="softwareService.researchProblems[index]"
               [title]="softwareService.researchProblems[index]" height="30">
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="spacer-span">and</span>

    <mat-form-field class="software-selector">
      <mat-select
        placeholder="Software type"
        [(ngModel)]="activeSoftwareType"
        panelClass="software-selector-dropdown">
        <mat-select-trigger>
          <img src="./assets/graphics/software-tab/sw-icon-{{softwareService.softwareSlugs[activeSoftwareType]}}-menu-outline.svg"
               [alt]="softwareService.softwareTypes[activeSoftwareType]"
               [title]="softwareService.softwareTypes[activeSoftwareType]"
               *ngIf="activeSoftwareType">
        </mat-select-trigger>
        <mat-option
          (click)="filterSelections()"
          [value]='null'>Show all
        </mat-option>
        <mat-option
          *ngFor="let index of ['1','2','3','4','5','6','7','8','9','10','11']"
          [value]="index"
          (click)="filterSelections()">
          <img src="./assets/graphics/software-tab/sw-icon-{{softwareService.softwareSlugs[index]}}-menu-outline.svg"
               [alt]="softwareService.softwareTypes[index]"
               [title]="softwareService.softwareTypes[index]" height="22">
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="spacer-span">and</span>

    <mat-form-field>
      <input matInput
             type="search"
             id="search-box"
             [(ngModel)]="activeNameSearch"
             (keyup)="filterSelections()"
             placeholder="Search software"/>
      <!--<span class="icon-search"></span>-->
    </mat-form-field>

    <span class="spacer-span"></span>

    <a id="all-software" (click)="resetSelections(); filterSelections(); $event.stopPropagation();">Show All</a>
  </div>
</div>

<!-- Software registry listings -->
<mat-grid-list class="software-list" cols="3" rowHeight="250px">
  <mat-grid-tile [ngClass]="{'tile-dashed': true, 'center-tile': (i+2) % 3 == 0}" *ngFor="let software of filteredList; let i = index"
                 (click)="gotoDetail(software); $event.stopPropagation()">
    <mat-card class="sw-card">
      <mat-card-header>
        <mat-card-title>{{software.short_title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{software.synopsis}}
        </p>
      </mat-card-content>
      <!--<ul class="icon-list">
        <li *ngFor="let type of software.software_type" class="sw-type-icon-small sw-type-icon-{{softwareSlugs[type['id']]}}"></li>
      </ul>-->
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
