<div class="software-details-wrapper">
  <md-toolbar class="toolbar-transparent">
    <div class="menu-wrapper">
      <button (click)="goBack()">
        <svg width="15px" height="20px" viewBox="0 0 50 80" xml:space="preserve">
          <polyline fill="none" stroke="#313131" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
        45.63,75.8 0.375,38.087 45.63,0.375 "/>
        </svg> 
      </button>
      <span class="page-title">Software</span>
    </div>
  </md-toolbar>
  <div class="software-details" *ngIf="software">
    <h1>{{software.short_title}}</h1>
    <section>
      <h3>{{software.long_title}}</h3>
    </section>
    <section>
      <h3>Synopsis</h3>
      <p>{{software.synopsis}}</p>
    </section>
    <section id="sw-detail-description">
      <h3>Description</h3>
      <div [innerHTML]="software.description"></div>
    </section>
    <section>
      <h3>URL</h3>
      <p><a href="{{software.url}}" target="_blank">{{software.url}}</a></p>
    </section>
    <section class="versions-container col-2">
      <div>
        <h3><strong>NMR</strong>box Version</h3>
        <!--<p>{{softwareVM.nmrbox_version}}</p>-->
        <section>
          <p *ngFor="let type of softwareMetaData.nmrbox_version" class="">{{type}}</p>
        </section>
      </div>
      <div>
        <h3><strong>Software</strong> Version</h3>
        <!--<p>{{softwareVM.software_version}}</p>-->
        <section>
          <p *ngFor="let type of softwareMetaData.software_version" class="">{{type}}</p>
        </section>
      </div>
    </section>
    <!--<section>
      <h3>Software Types</h3>
      <ul>
        &lt;!&ndash;<li *ngFor="let type of software.software_types" class="sw-type-icon-large sw-type-icon-{{type}}"></li>&ndash;&gt;
      </ul>
    </section>-->
    <section>
      <h3>Software Citation</h3>
      <div *ngFor="let citation of softwareMetaData.citation">
        <div class="citation">
          <cite>{{ citation.title }}</cite><br>
          <div *ngFor="let author of citation.authors" style="float: left;">
            {{author.last_name}} {{author.first_name}},
          </div><br>
          <div>  {{ citation.journal }} {{ citation.year }}; {{ citation.volume }}({{ citation.issue }}): {{ citation.pages }}</div>
        </div>
      </div>
    </section>
    <section>
      &nbsp;
    </section>
    <br>
  </div>
</div>