<div class="section-banner section-banner-software"></div>
<div class="section-banner-bg gray-bg"></div>
<div class="sw-filters-container">
  <div class="sw-filters">
    <mat-form-field>
      <mat-select
        [(ngModel)]="activeResearchProblem"
        placeholder="Research problem">
        <mat-select-trigger>
          <span>{{researchProblems[activeResearchProblem]}}</span>
        </mat-select-trigger>
        <mat-option
          (click)="filterSelections()"
          [value]='null'>Show all
        </mat-option>
        <!--
        <mat-option
          *ngFor="let type_id of objectKeys(researchProblems)"
          [value]="type_id"
          (click)="filterSelections()">{{researchProblems[type_id]}}
        </mat-option>-->

        <mat-option
          value="1"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/rp-icon-metabolomics-menu.svg" alt="Metabolomics" title="Metabolomics" height="30">
        </mat-option>
        <mat-option
          value="2"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/rp-icon-protein-dynamics-menu.svg" alt="Protein Dynamics" title="Protein Dynamics" height="30">
        </mat-option>
        <mat-option
          value="3"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/rp-icon-protein-structure-menu.svg" alt="Protein Structure" title="Protein Structure" height="30">
        </mat-option>
        <mat-option
          value="4"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/rp-icon-intrinsically-menu.svg" alt="Intrinsically Disordered Proteins" title="Intrinsically Disordered Proteins" height="30">
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Software type"
        [(ngModel)]="activeSoftwareType">
        <mat-select-trigger>
          <span>{{softwareTypes[activeSoftwareType]}}</span>
        </mat-select-trigger>
        <mat-option
          (click)="filterSelections()"
          [value]='null'>Show all
        </mat-option>
        <mat-option
          value="1"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/sw-icon-spectral-menu.svg" alt="Spectrum Analysis" title="Spectrum Analysis" height="22">
        </mat-option>
        <mat-option
          value="2"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/sw-icon-chemical-menu.svg" alt="Chemical Shift" title="Chemical Shift" height="22">
        </mat-option>
        <mat-option
          value="3"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/sw-icon-molecular-menu.svg" alt="Molecular Modeling" title="Molecular Modeling" height="22">
        </mat-option>
        <mat-option
          value="4"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/sw-icon-structure-menu.svg" alt="Structure Visualization" title="Structure Visualization" height="22">
        </mat-option>
        <mat-option
          value="5"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/sw-icon-rdc-menu.svg" alt="Residual Dipolar Coupling" title="Residual Dipolar Coupling" height="22">
        </mat-option>
        <mat-option
          value="6"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/sw-icon-assignment-menu.svg" alt="Assignment" title="Assignment" height="22">
        </mat-option>
        <mat-option
          value="7"
          (click)="filterSelections()">
          <img src="./assets/icons/software_menu/sw-icon-relaxation-menu.svg" alt="Relaxation" title="Relaxation" height="22">
        </mat-option>



        <!--
        <mat-option
          *ngFor="let type_id of objectKeys(softwareTypes)"
          [value]="type_id"
          (click)="filterSelections()">{{softwareTypes[type_id]}}
        </mat-option>-->
      </mat-select>
    </mat-form-field>


    <a id="all-software"
       (click)="resetSelections(); getSoftwareList(); $event.stopPropagation();">All
      Software</a>
    <mat-form-field id="search">
      <input matInput #searchBox
             type="search"
             id="search-box"
             [(ngModel)]="activeNameSearch"
             (keyup)="filterSelections()"
             placeholder="Search software"/>
      <span class="icon-search"></span>
    </mat-form-field>
  </div>

  <!--<div id="software-types-menu" class="sw-menu-wrapper my-fader" [swFiltersOpen]="!swFiltersOpen">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div *ngFor="let swt of swtList" class="swiper-slide" [class.selected]="swt.name === filterName">
          <a id="{{swt.id}}" class="sw-type-icon-med sw-type-icon-{{swt.name}}"
             (click)="filterSoftwareType(swt.name, 'swt'); $event.stopPropagation();"></a>
        </div>
      </div>
      <div class="swiper-button-next arrow-right swiper-button-white"></div>
      <div class="swiper-button-prev arrow-left swiper-button-white"></div>
    </swiper>
  </div>-->
</div>

<!-- Software registry listings -->
<mat-grid-list class="software-list" cols="3" rowHeight="250px">
  <mat-grid-tile class="tile-dashed" *ngFor="let software of filteredList"
                 (click)="gotoDetail(software); $event.stopPropagation()">
    <mat-card class="sw-card">
      <mat-card-header>
        <mat-card-title>{{software.short_title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{software.synopsis}}
        </p>
      </mat-card-content>
      <ul class="icon-list">
        <li *ngFor="let type of software.software_types" class="sw-type-icon-small sw-type-icon-{{type}}"></li>
      </ul>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
