.software-details-wrapper {

  .software-details {
    margin-top: 20px;
  }

 .software-details > h1, section, .menu-wrapper {
    width: 90%;
    max-width: 900px;
    margin: 0px auto;
  }
  .menu-wrapper {
    min-height: 50px;
    margin-bottom: 10px;

    button {
      margin-top: 20px;
      font-family: Arial;
      background-color: transparent;
      border: none;
      padding: 12px 10px 10px 0px;
      border-radius: 0px;
      border-right: 1px solid #e0e0e0;
      cursor: pointer; cursor: hand;
      
      polyline {
        stroke-width: 3;
        transition: all 100ms ease-in-out;
      }
    }
    button:hover {
      background-color: transparent;
      polyline {
        stroke-width: 6;
        transition: all 100ms ease-in-out;
      }
    }
    button:disabled {
      background-color: #eee;
      color: #ccc; 
      cursor: auto;
    }
    .page-title {
      position: relative;
      top: -3px;
    }
  }

  h3 {
    font-weight: 500;
  }

  #sw-detail-description p {
    padding-right: 33%;
  }

  .versions-container {
    width: 100%;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
  }

  ul {
    list-style: none;
    padding: 0px;
  }

  .sw-type-icon-large {
    padding-bottom: 15px;
  }
}