<div class="section-banner section-banner-community"></div>
<div class="section-banner-bg gray-bg"></div>

<div class="section-submenu section-submenu-community blue-bg"></div>
<div class="tab-group-container">

  <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" [(selectedIndex)]="tabIndex">

    <mat-tab label="FAQs">
      <div class="grid-outer-wrapper">
        <div class="grid-content-wrapper">
          <h3 class="blue">NMRbox FAQs</h3>
          <app-faqs></app-faqs>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Tutorials">
      <!--
      <ng-template mat-tab-label>
      </ng-template>-->

      <div class="grid-outer-wrapper">
        <div class="grid-content-wrapper">
          <h3 class="blue">NMRbox Tutorials</h3>

          <mat-grid-list class="support-list grid-dashed" cols="3" rowHeight="180px">
            <mat-grid-tile class="tile-solid tile-transparent" routerLink="/c/acknowledge-us">
              <mat-card class="sw-card tile-card-short">
                <mat-card-header>
                  <mat-card-title>Acknowledge NMRbox</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    How to acknowledge NMRbox
                  </p>
                  <br/>
                  <a routerLink="/c/acknowledge-us">Read More</a>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile class="tile-solid tile-transparent" routerLink="/c/initiating-a-collaboration">
              <mat-card class="sw-card tile-card-short">
                <mat-card-header>
                  <mat-card-title>Collaboration with NMRbox Team</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Instruction of how to initiate a collaboration with the NMRbox Team.
                  </p>
                  <br/>
                  <a routerLink="/c/initiating-a-collaboration">Read More</a>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Documentation">

      <div class="grid-outer-wrapper">
        <div class="grid-content-wrapper">
          <h3 class="blue">Software documentation</h3>

          <mat-grid-list class="support-list grid-dashed" cols="3" rowHeight="180px">
            <mat-grid-tile class="tile-solid tile-transparent" routerLink="/c/documentation">
              <mat-card class="sw-card tile-card-short">
                <mat-card-header>
                  <mat-card-title>User Guide</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    NMRbox Dcoumentation
                  </p>
                  <br/>
                  <!--<a href="/">Read more</a>-->
                  <a routerLink="/c/documentation">Read More</a>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile class="tile-solid tile-transparent" routerLink="/c/licensing">
              <mat-card class="sw-card tile-card-short">
                <mat-card-header>
                  <mat-card-title>Licensing</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    NMRbox User License
                  </p>
                  <br/>
                  <a routerLink="/c/licensing">Read More</a>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile class="tile-solid tile-transparent" routerLink="/c/nihresources">
              <mat-card class="sw-card tile-card-short">
                <mat-card-header>
                  <mat-card-title>NIH Resources</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    NIH Biomedical Technology Resources
                  </p>
                  <br/>
                  <a routerLink="/c/nihresources">Read more</a>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Contact">

      <div class="grid-outer-wrapper">
        <div class="grid-content-wrapper">
          <h3 class="blue">Contact NMRbox support</h3>
            <mat-card class="sw-card tile-card-short">
              <mat-card-content>
                <p>We have a team ready to assist you with your NMRbox support needs</p>
                <p>For NMRbox support or general questions file a ticket at the NMRbox <a href="https://nmrbox.zendesk.com/hc/en-us/requests/new" target="blank_">Zendesk</a> page.</p>
                <!--<p>For NMRbox support or general questions, email <a href="mailto:support@nmrbox.org">support@nmrbox.org</a></p>-->
                <p>For developers with questions related to provisioning NMRbox software, email <a href="mailto:support@nmrbox.org">developer@nmrbox.org</a></p>
                <p>For questions about the NMRbox.org web site, email <a href="mailto:support@nmrbox.org">webmaster@nmrbox.org</a></p>
                <p>To inquire about a possible collaboration with the NMRbox Team, email <a href="mailto:support@nmrbox.org">director@nmrbox.org</a></p>
              </mat-card-content>
            </mat-card>

        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
