.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.example-full-width {
    width: 95%;
    margin: 0 !important;
}
md-card {
    width: 75%;
    margin: 10px 0px;
    border: 1px solid #48b0e3;
}

md-card md-card-header{
    width: 80%;

}

md-card md-card-header md-card-title {

}