/* @import '~@angular/material/_theming.scss'; */

$nmrbox-blue-gray: #a4bbc1;

.mat-toolbar.mat-primary {
  background-color: #475a63;
  min-height: 50px !important;

  nav {
    display: inline-flex;
    width: 100%;

    a, span {
      color: $nmrbox-blue-gray;
      font-weight: 300;
      margin-left: .5em;
      margin-right: .5em;
      padding: 0;
      outline: none;
      img.active {
        display: none;
      }
      img.inactive {
        display: inherit;
      }
    }

    /* Nav: active & hover state */
    a:hover, a:focus, a:active, .active {
      text-decoration: none;
      span {
        color: #fff;
      }

      img.inactive {
        display: none;
      }
      img.active {
        display: inherit;
      }
    }

    a:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}

.mat-toolbar-row {
  position: relative;
  max-width: 955px;
  margin: auto;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.orange-text {
  color: rgb(250, 151, 5) !important;
}
