<div class="community-details-wrapper">
  <mat-toolbar class="toolbar-transparent">
    <div class="menu-wrapper">
      <button (click)="goBack()">
        <svg width="15px" height="20px" viewBox="0 0 50 80" xml:space="preserve">
          <polyline fill="none" stroke="#313131" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
        45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
        </svg>
      </button>
      <span *ngIf="staticPage" class="page-title" [innerHTML]="staticPage.title"></span>
    </div>
  </mat-toolbar>
  <app-embedded-static-detail *ngIf="staticPage" [pageURL]="pageURL" [staticPage]="staticPage"></app-embedded-static-detail>
</div>
