<div class="container">

  <div class="row">
    <div class="welcome">
      <h3>Update Profile</h3><br>
    </div>

    <div class="row" *ngIf="person">

      <form (ngSubmit)="onProfileUpdate(f)" #f="ngForm">
        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="first_name" class="control-label">First Name</label>
            <input [ngModel]="person.first_name" class="form-control form-control" maxlength="32" required="required"
                   id="first_name"
                   name="first_name" type="text">
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="last_name" class="control-label">Last Name</label>
            <input [ngModel]="person.last_name" class="form-control form-control" maxlength="64" required="required"
                   id="last_name"
                   name="last_name" type="text"></div>
        </div>

        <div class="form-group col-lg-12">
          <div class="form-group">
            <label for="email_institution" class="control-label">Email (institutional account)</label>
            <input [ngModel]="person.email_institution" class="form-control form-control" maxlength="255"
                   required="required"
                   id="email_institution" name="email_institution" type="email">
          </div>
        </div>

        <div class="form-group col-lg-12">
          <div class="form-group">
            <label for="email" class="control-label">Preferred contact email (if different than institutional
              email)</label>
            <input [ngModel]="person.email" class="form-control form-control" maxlength="255" id="email" name="email"
                   type="email">
          </div>
        </div>

        <div class="form-group col-lg-12">
          <div class="form-group">
            <label for="job_title" class="control-label">Job Title</label>
            <select [ngModel]="person.job_title" class="form-control form-control select_pi" maxlength="32"
                    required="required" id="job_title" name="job_title">
              <option value="" selected="selected">Please Select</option>
              <option value="PI">PI</option>
              <option value="Undergraduate Student">Undergraduate Student</option>
              <option value="Graduate Student">Graduate Student</option>
              <option value="Postdoc">Postdoc</option>
              <option value="Faculty">Faculty</option>
              <option value="Staff">Staff</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="institution" class="control-label">Institution</label>
            <input class="form-control form-control" maxlength="256" required="required" id="institution"
                   name="institution" type="text" [ngModel]="person.institution">
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="institution_type" class="control-label">Institution Type</label>
            <select [ngModel]="person.institution_type" class="form-control form-control" required="required"
                    id="institution_type" name="institution_type">
              <option value="">Please Select</option>
              <option value="0">Academic</option>
              <option value="1">Non-profit</option>
              <option value="2">Government</option>
              <option value="3">Other</option>
            </select>
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="department" class="control-label">Department</label>
            <input class="form-control form-control" maxlength="256" required="required" id="department"
                   name="department" type="text" [ngModel]="person.department">
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="pi" class="control-label">PI</label>
            <input [ngModel]="person.pi" class="form-control form-control" maxlength="64" required="required" id="pi"
                   name="pi"
                   type="text">
          </div>
        </div>

        <div class="form-group col-lg-12">
          <div class="form-group">
            <label for="address1" class="control-label">Address Line 1</label>
            <input [ngModel]="person.address1" class="form-control form-control" maxlength="128" required="required"
                   id="address1"
                   name="address1" type="text">
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="address2" class="control-label">Address Line 2</label>
            <input [ngModel]="person.address2" class="form-control form-control" maxlength="128" id="address2"
                   name="address2" type="text">
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="address3" class="control-label">Address Line 3</label>
            <input [ngModel]="person.address3" class="form-control form-control" maxlength="128" id="address3"
                   name="address3" type="text">
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label class="control-label" for="country">Country</label>
            <select [ngModel]="person.country" name="country" id="country" class="crs-country form-control"
                    data-region-id="state_province"
                    data-default-value-option="true" [attr.data-default-value]="person.country" required="required">
            </select>
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label class="control-label" for="state_province">State or Province</label>
            <select [ngModel]="person.state_province" name="state_province" class="form-control" id="state_province"
                    data-show-default-option="true"
                    data-default-option="Select State or Province"
                    [attr.data-default-value]="person.state_province" required="required">
            </select>
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="city" class="control-label">City</label>
            <input [ngModel]="person.city" class="form-control form-control" maxlength="64" required="required"
                   id="city" name="city"
                   type="text">
          </div>
        </div>

        <div class="form-group col-lg-6">
          <div class="form-group">
            <label for="zip_code" class="control-label">Zip Code</label>
            <input [ngModel]="person.zip_code" class="form-control form-control" maxlength="32" required="required"
                   id="zip_code"
                   name="zip_code" type="text">
          </div>
        </div>

        <div class="form-group col-lg-12">
          <div class="form-group">
            <label for="time_zone_id" class="control-label">Time Zone</label>
            <select [(ngModel)]="person.time_zone_id" required="required" class="form-control" id="time_zone_id"
                    name="time_zone_id">
              <option value="1">Africa/Abidjan</option>
              <option value="2">Africa/Accra</option>
              <option value="3">Africa/Addis_Ababa</option>
              <option value="4">Africa/Algiers</option>
              <option value="5">Africa/Asmara</option>
              <option value="6">Africa/Asmera</option>
              <option value="7">Africa/Bamako</option>
              <option value="8">Africa/Bangui</option>
              <option value="9">Africa/Banjul</option>
              <option value="10">Africa/Bissau</option>
              <option value="11">Africa/Blantyre</option>
              <option value="12">Africa/Brazzaville</option>
              <option value="13">Africa/Bujumbura</option>
              <option value="14">Africa/Cairo</option>
              <option value="15">Africa/Casablanca</option>
              <option value="16">Africa/Ceuta</option>
              <option value="17">Africa/Conakry</option>
              <option value="18">Africa/Dakar</option>
              <option value="19">Africa/Dar_es_Salaam</option>
              <option value="20">Africa/Djibouti</option>
              <option value="21">Africa/Douala</option>
              <option value="22">Africa/El_Aaiun</option>
              <option value="23">Africa/Freetown</option>
              <option value="24">Africa/Gaborone</option>
              <option value="25">Africa/Harare</option>
              <option value="26">Africa/Johannesburg</option>
              <option value="27">Africa/Juba</option>
              <option value="28">Africa/Kampala</option>
              <option value="29">Africa/Khartoum</option>
              <option value="30">Africa/Kigali</option>
              <option value="31">Africa/Kinshasa</option>
              <option value="32">Africa/Lagos</option>
              <option value="33">Africa/Libreville</option>
              <option value="34">Africa/Lome</option>
              <option value="35">Africa/Luanda</option>
              <option value="36">Africa/Lubumbashi</option>
              <option value="37">Africa/Lusaka</option>
              <option value="38">Africa/Malabo</option>
              <option value="39">Africa/Maputo</option>
              <option value="40">Africa/Maseru</option>
              <option value="41">Africa/Mbabane</option>
              <option value="42">Africa/Mogadishu</option>
              <option value="43">Africa/Monrovia</option>
              <option value="44">Africa/Nairobi</option>
              <option value="45">Africa/Ndjamena</option>
              <option value="46">Africa/Niamey</option>
              <option value="47">Africa/Nouakchott</option>
              <option value="48">Africa/Ouagadougou</option>
              <option value="49">Africa/Porto-Novo</option>
              <option value="50">Africa/Sao_Tome</option>
              <option value="51">Africa/Timbuktu</option>
              <option value="52">Africa/Tripoli</option>
              <option value="53">Africa/Tunis</option>
              <option value="54">Africa/Windhoek</option>
              <option value="55">America/Adak</option>
              <option value="56">America/Anchorage</option>
              <option value="57">America/Anguilla</option>
              <option value="58">America/Antigua</option>
              <option value="59">America/Araguaina</option>
              <option value="60">America/Argentina/Buenos_Aires</option>
              <option value="61">America/Argentina/Catamarca</option>
              <option value="62">America/Argentina/ComodRivadavia</option>
              <option value="63">America/Argentina/Cordoba</option>
              <option value="64">America/Argentina/Jujuy</option>
              <option value="65">America/Argentina/La_Rioja</option>
              <option value="66">America/Argentina/Mendoza</option>
              <option value="67">America/Argentina/Rio_Gallegos</option>
              <option value="68">America/Argentina/Salta</option>
              <option value="69">America/Argentina/San_Juan</option>
              <option value="70">America/Argentina/San_Luis</option>
              <option value="71">America/Argentina/Tucuman</option>
              <option value="72">America/Argentina/Ushuaia</option>
              <option value="73">America/Aruba</option>
              <option value="74">America/Asuncion</option>
              <option value="75">America/Atikokan</option>
              <option value="76">America/Atka</option>
              <option value="77">America/Bahia</option>
              <option value="78">America/Bahia_Banderas</option>
              <option value="79">America/Barbados</option>
              <option value="80">America/Belem</option>
              <option value="81">America/Belize</option>
              <option value="82">America/Blanc-Sablon</option>
              <option value="83">America/Boa_Vista</option>
              <option value="84">America/Bogota</option>
              <option value="85">America/Boise</option>
              <option value="86">America/Buenos_Aires</option>
              <option value="87">America/Cambridge_Bay</option>
              <option value="88">America/Campo_Grande</option>
              <option value="89">America/Cancun</option>
              <option value="90">America/Caracas</option>
              <option value="91">America/Catamarca</option>
              <option value="92">America/Cayenne</option>
              <option value="93">America/Cayman</option>
              <option value="94">America/Chicago</option>
              <option value="95">America/Chihuahua</option>
              <option value="96">America/Coral_Harbour</option>
              <option value="97">America/Cordoba</option>
              <option value="98">America/Costa_Rica</option>
              <option value="99">America/Creston</option>
              <option value="100">America/Cuiaba</option>
              <option value="101">America/Curacao</option>
              <option value="102">America/Danmarkshavn</option>
              <option value="103">America/Dawson</option>
              <option value="104">America/Dawson_Creek</option>
              <option value="105">America/Denver</option>
              <option value="106">America/Detroit</option>
              <option value="107">America/Dominica</option>
              <option value="108">America/Edmonton</option>
              <option value="109">America/Eirunepe</option>
              <option value="110">America/El_Salvador</option>
              <option value="111">America/Ensenada</option>
              <option value="113">America/Fort_Nelson</option>
              <option value="114">America/Fort_Wayne</option>
              <option value="112">America/Fortaleza</option>
              <option value="115">America/Glace_Bay</option>
              <option value="116">America/Godthab</option>
              <option value="117">America/Goose_Bay</option>
              <option value="118">America/Grand_Turk</option>
              <option value="119">America/Grenada</option>
              <option value="120">America/Guadeloupe</option>
              <option value="121">America/Guatemala</option>
              <option value="122">America/Guayaquil</option>
              <option value="123">America/Guyana</option>
              <option value="124">America/Halifax</option>
              <option value="125">America/Havana</option>
              <option value="126">America/Hermosillo</option>
              <option value="127">America/Indiana/Indianapolis</option>
              <option value="128">America/Indiana/Knox</option>
              <option value="129">America/Indiana/Marengo</option>
              <option value="130">America/Indiana/Petersburg</option>
              <option value="132">America/Indiana/Tell_City</option>
              <option value="133">America/Indiana/Vevay</option>
              <option value="134">America/Indiana/Vincennes</option>
              <option value="135">America/Indiana/Winamac</option>
              <option value="131">America/Indianapolis</option>
              <option value="136">America/Inuvik</option>
              <option value="137">America/Iqaluit</option>
              <option value="138">America/Jamaica</option>
              <option value="139">America/Jujuy</option>
              <option value="140">America/Juneau</option>
              <option value="141">America/Kentucky/Louisville</option>
              <option value="142">America/Kentucky/Monticello</option>
              <option value="143">America/Knox_IN</option>
              <option value="144">America/Kralendijk</option>
              <option value="145">America/La_Paz</option>
              <option value="146">America/Lima</option>
              <option value="147">America/Los_Angeles</option>
              <option value="148">America/Louisville</option>
              <option value="149">America/Lower_Princes</option>
              <option value="150">America/Maceio</option>
              <option value="151">America/Managua</option>
              <option value="152">America/Manaus</option>
              <option value="153">America/Marigot</option>
              <option value="154">America/Martinique</option>
              <option value="155">America/Matamoros</option>
              <option value="156">America/Mazatlan</option>
              <option value="157">America/Mendoza</option>
              <option value="158">America/Menominee</option>
              <option value="159">America/Merida</option>
              <option value="160">America/Metlakatla</option>
              <option value="161">America/Mexico_City</option>
              <option value="162">America/Miquelon</option>
              <option value="163">America/Moncton</option>
              <option value="164">America/Monterrey</option>
              <option value="165">America/Montevideo</option>
              <option value="166">America/Montreal</option>
              <option value="167">America/Montserrat</option>
              <option value="168">America/Nassau</option>
              <option value="169">America/New_York</option>
              <option value="170">America/Nipigon</option>
              <option value="171">America/Nome</option>
              <option value="172">America/Noronha</option>
              <option value="173">America/North_Dakota/Beulah</option>
              <option value="174">America/North_Dakota/Center</option>
              <option value="175">America/North_Dakota/New_Salem</option>
              <option value="176">America/Ojinaga</option>
              <option value="177">America/Panama</option>
              <option value="178">America/Pangnirtung</option>
              <option value="179">America/Paramaribo</option>
              <option value="180">America/Phoenix</option>
              <option value="181">America/Port-au-Prince</option>
              <option value="183">America/Port_of_Spain</option>
              <option value="182">America/Porto_Acre</option>
              <option value="184">America/Porto_Velho</option>
              <option value="185">America/Puerto_Rico</option>
              <option value="186">America/Rainy_River</option>
              <option value="187">America/Rankin_Inlet</option>
              <option value="188">America/Recife</option>
              <option value="189">America/Regina</option>
              <option value="190">America/Resolute</option>
              <option value="191">America/Rio_Branco</option>
              <option value="192">America/Rosario</option>
              <option value="193">America/Santa_Isabel</option>
              <option value="194">America/Santarem</option>
              <option value="195">America/Santiago</option>
              <option value="196">America/Santo_Domingo</option>
              <option value="197">America/Sao_Paulo</option>
              <option value="198">America/Scoresbysund</option>
              <option value="199">America/Shiprock</option>
              <option value="200">America/Sitka</option>
              <option value="201">America/St_Barthelemy</option>
              <option value="202">America/St_Johns</option>
              <option value="203">America/St_Kitts</option>
              <option value="204">America/St_Lucia</option>
              <option value="205">America/St_Thomas</option>
              <option value="206">America/St_Vincent</option>
              <option value="207">America/Swift_Current</option>
              <option value="208">America/Tegucigalpa</option>
              <option value="209">America/Thule</option>
              <option value="210">America/Thunder_Bay</option>
              <option value="211">America/Tijuana</option>
              <option value="212">America/Toronto</option>
              <option value="213">America/Tortola</option>
              <option value="214">America/Vancouver</option>
              <option value="215">America/Virgin</option>
              <option value="216">America/Whitehorse</option>
              <option value="217">America/Winnipeg</option>
              <option value="218">America/Yakutat</option>
              <option value="219">America/Yellowknife</option>
              <option value="220">Antarctica/Casey</option>
              <option value="221">Antarctica/Davis</option>
              <option value="222">Antarctica/DumontDUrville</option>
              <option value="223">Antarctica/Macquarie</option>
              <option value="224">Antarctica/Mawson</option>
              <option value="225">Antarctica/McMurdo</option>
              <option value="226">Antarctica/Palmer</option>
              <option value="227">Antarctica/Rothera</option>
              <option value="228">Antarctica/South_Pole</option>
              <option value="229">Antarctica/Syowa</option>
              <option value="230">Antarctica/Troll</option>
              <option value="231">Antarctica/Vostok</option>
              <option value="232">Arctic/Longyearbyen</option>
              <option value="233">Asia/Aden</option>
              <option value="234">Asia/Almaty</option>
              <option value="235">Asia/Amman</option>
              <option value="236">Asia/Anadyr</option>
              <option value="237">Asia/Aqtau</option>
              <option value="238">Asia/Aqtobe</option>
              <option value="239">Asia/Ashgabat</option>
              <option value="240">Asia/Ashkhabad</option>
              <option value="241">Asia/Baghdad</option>
              <option value="242">Asia/Bahrain</option>
              <option value="243">Asia/Baku</option>
              <option value="244">Asia/Bangkok</option>
              <option value="245">Asia/Beirut</option>
              <option value="246">Asia/Bishkek</option>
              <option value="247">Asia/Brunei</option>
              <option value="248">Asia/Calcutta</option>
              <option value="249">Asia/Chita</option>
              <option value="250">Asia/Choibalsan</option>
              <option value="251">Asia/Chongqing</option>
              <option value="252">Asia/Chungking</option>
              <option value="253">Asia/Colombo</option>
              <option value="254">Asia/Dacca</option>
              <option value="255">Asia/Damascus</option>
              <option value="256">Asia/Dhaka</option>
              <option value="257">Asia/Dili</option>
              <option value="258">Asia/Dubai</option>
              <option value="259">Asia/Dushanbe</option>
              <option value="260">Asia/Gaza</option>
              <option value="261">Asia/Harbin</option>
              <option value="262">Asia/Hebron</option>
              <option value="263">Asia/Ho_Chi_Minh</option>
              <option value="264">Asia/Hong_Kong</option>
              <option value="265">Asia/Hovd</option>
              <option value="266">Asia/Irkutsk</option>
              <option value="267">Asia/Istanbul</option>
              <option value="268">Asia/Jakarta</option>
              <option value="269">Asia/Jayapura</option>
              <option value="270">Asia/Jerusalem</option>
              <option value="271">Asia/Kabul</option>
              <option value="272">Asia/Kamchatka</option>
              <option value="273">Asia/Karachi</option>
              <option value="274">Asia/Kashgar</option>
              <option value="275">Asia/Kathmandu</option>
              <option value="276">Asia/Katmandu</option>
              <option value="277">Asia/Khandyga</option>
              <option value="278">Asia/Kolkata</option>
              <option value="279">Asia/Krasnoyarsk</option>
              <option value="280">Asia/Kuala_Lumpur</option>
              <option value="281">Asia/Kuching</option>
              <option value="282">Asia/Kuwait</option>
              <option value="283">Asia/Macao</option>
              <option value="284">Asia/Macau</option>
              <option value="285">Asia/Magadan</option>
              <option value="286">Asia/Makassar</option>
              <option value="287">Asia/Manila</option>
              <option value="288">Asia/Muscat</option>
              <option value="289">Asia/Nicosia</option>
              <option value="290">Asia/Novokuznetsk</option>
              <option value="291">Asia/Novosibirsk</option>
              <option value="292">Asia/Omsk</option>
              <option value="293">Asia/Oral</option>
              <option value="294">Asia/Phnom_Penh</option>
              <option value="295">Asia/Pontianak</option>
              <option value="296">Asia/Pyongyang</option>
              <option value="297">Asia/Qatar</option>
              <option value="298">Asia/Qyzylorda</option>
              <option value="299">Asia/Rangoon</option>
              <option value="300">Asia/Riyadh</option>
              <option value="301">Asia/Saigon</option>
              <option value="302">Asia/Sakhalin</option>
              <option value="303">Asia/Samarkand</option>
              <option value="304">Asia/Seoul</option>
              <option value="305">Asia/Shanghai</option>
              <option value="306">Asia/Singapore</option>
              <option value="307">Asia/Srednekolymsk</option>
              <option value="308">Asia/Taipei</option>
              <option value="309">Asia/Tashkent</option>
              <option value="310">Asia/Tbilisi</option>
              <option value="311">Asia/Tehran</option>
              <option value="312">Asia/Tel_Aviv</option>
              <option value="313">Asia/Thimbu</option>
              <option value="314">Asia/Thimphu</option>
              <option value="315">Asia/Tokyo</option>
              <option value="316">Asia/Ujung_Pandang</option>
              <option value="317">Asia/Ulaanbaatar</option>
              <option value="318">Asia/Ulan_Bator</option>
              <option value="319">Asia/Urumqi</option>
              <option value="320">Asia/Ust-Nera</option>
              <option value="321">Asia/Vientiane</option>
              <option value="322">Asia/Vladivostok</option>
              <option value="323">Asia/Yakutsk</option>
              <option value="324">Asia/Yekaterinburg</option>
              <option value="325">Asia/Yerevan</option>
              <option value="326">Atlantic/Azores</option>
              <option value="327">Atlantic/Bermuda</option>
              <option value="328">Atlantic/Canary</option>
              <option value="329">Atlantic/Cape_Verde</option>
              <option value="330">Atlantic/Faeroe</option>
              <option value="331">Atlantic/Faroe</option>
              <option value="332">Atlantic/Jan_Mayen</option>
              <option value="333">Atlantic/Madeira</option>
              <option value="334">Atlantic/Reykjavik</option>
              <option value="335">Atlantic/South_Georgia</option>
              <option value="337">Atlantic/St_Helena</option>
              <option value="336">Atlantic/Stanley</option>
              <option value="338">Australia/ACT</option>
              <option value="339">Australia/Adelaide</option>
              <option value="340">Australia/Brisbane</option>
              <option value="341">Australia/Broken_Hill</option>
              <option value="342">Australia/Canberra</option>
              <option value="343">Australia/Currie</option>
              <option value="344">Australia/Darwin</option>
              <option value="345">Australia/Eucla</option>
              <option value="346">Australia/Hobart</option>
              <option value="347">Australia/LHI</option>
              <option value="348">Australia/Lindeman</option>
              <option value="349">Australia/Lord_Howe</option>
              <option value="350">Australia/Melbourne</option>
              <option value="352">Australia/NSW</option>
              <option value="351">Australia/North</option>
              <option value="353">Australia/Perth</option>
              <option value="354">Australia/Queensland</option>
              <option value="355">Australia/South</option>
              <option value="356">Australia/Sydney</option>
              <option value="357">Australia/Tasmania</option>
              <option value="358">Australia/Victoria</option>
              <option value="359">Australia/West</option>
              <option value="360">Australia/Yancowinna</option>
              <option value="361">Europe/Amsterdam</option>
              <option value="362">Europe/Andorra</option>
              <option value="363">Europe/Athens</option>
              <option value="364">Europe/Belfast</option>
              <option value="365">Europe/Belgrade</option>
              <option value="366">Europe/Berlin</option>
              <option value="367">Europe/Bratislava</option>
              <option value="368">Europe/Brussels</option>
              <option value="369">Europe/Bucharest</option>
              <option value="370">Europe/Budapest</option>
              <option value="371">Europe/Busingen</option>
              <option value="372">Europe/Chisinau</option>
              <option value="373">Europe/Copenhagen</option>
              <option value="374">Europe/Dublin</option>
              <option value="375">Europe/Gibraltar</option>
              <option value="376">Europe/Guernsey</option>
              <option value="377">Europe/Helsinki</option>
              <option value="378">Europe/Isle_of_Man</option>
              <option value="379">Europe/Istanbul</option>
              <option value="380">Europe/Jersey</option>
              <option value="381">Europe/Kaliningrad</option>
              <option value="382">Europe/Kiev</option>
              <option value="383">Europe/Lisbon</option>
              <option value="384">Europe/Ljubljana</option>
              <option value="385">Europe/London</option>
              <option value="386">Europe/Luxembourg</option>
              <option value="387">Europe/Madrid</option>
              <option value="388">Europe/Malta</option>
              <option value="389">Europe/Mariehamn</option>
              <option value="390">Europe/Minsk</option>
              <option value="391">Europe/Monaco</option>
              <option value="392">Europe/Moscow</option>
              <option value="393">Europe/Nicosia</option>
              <option value="394">Europe/Oslo</option>
              <option value="395">Europe/Paris</option>
              <option value="396">Europe/Podgorica</option>
              <option value="397">Europe/Prague</option>
              <option value="398">Europe/Riga</option>
              <option value="399">Europe/Rome</option>
              <option value="400">Europe/Samara</option>
              <option value="401">Europe/San_Marino</option>
              <option value="402">Europe/Sarajevo</option>
              <option value="403">Europe/Simferopol</option>
              <option value="404">Europe/Skopje</option>
              <option value="405">Europe/Sofia</option>
              <option value="406">Europe/Stockholm</option>
              <option value="407">Europe/Tallinn</option>
              <option value="408">Europe/Tirane</option>
              <option value="409">Europe/Tiraspol</option>
              <option value="410">Europe/Uzhgorod</option>
              <option value="411">Europe/Vaduz</option>
              <option value="412">Europe/Vatican</option>
              <option value="413">Europe/Vienna</option>
              <option value="414">Europe/Vilnius</option>
              <option value="415">Europe/Volgograd</option>
              <option value="416">Europe/Warsaw</option>
              <option value="417">Europe/Zagreb</option>
              <option value="418">Europe/Zaporozhye</option>
              <option value="419">Europe/Zurich</option>
              <option value="420">Indian/Antananarivo</option>
              <option value="421">Indian/Chagos</option>
              <option value="422">Indian/Christmas</option>
              <option value="423">Indian/Cocos</option>
              <option value="424">Indian/Comoro</option>
              <option value="425">Indian/Kerguelen</option>
              <option value="426">Indian/Mahe</option>
              <option value="427">Indian/Maldives</option>
              <option value="428">Indian/Mauritius</option>
              <option value="429">Indian/Mayotte</option>
              <option value="430">Indian/Reunion</option>
              <option value="431">Pacific/Apia</option>
              <option value="432">Pacific/Auckland</option>
              <option value="433">Pacific/Bougainville</option>
              <option value="434">Pacific/Chatham</option>
              <option value="435">Pacific/Chuuk</option>
              <option value="436">Pacific/Easter</option>
              <option value="437">Pacific/Efate</option>
              <option value="438">Pacific/Enderbury</option>
              <option value="439">Pacific/Fakaofo</option>
              <option value="440">Pacific/Fiji</option>
              <option value="441">Pacific/Funafuti</option>
              <option value="442">Pacific/Galapagos</option>
              <option value="443">Pacific/Gambier</option>
              <option value="444">Pacific/Guadalcanal</option>
              <option value="445">Pacific/Guam</option>
              <option value="446">Pacific/Honolulu</option>
              <option value="447">Pacific/Johnston</option>
              <option value="448">Pacific/Kiritimati</option>
              <option value="449">Pacific/Kosrae</option>
              <option value="450">Pacific/Kwajalein</option>
              <option value="451">Pacific/Majuro</option>
              <option value="452">Pacific/Marquesas</option>
              <option value="453">Pacific/Midway</option>
              <option value="454">Pacific/Nauru</option>
              <option value="455">Pacific/Niue</option>
              <option value="456">Pacific/Norfolk</option>
              <option value="457">Pacific/Noumea</option>
              <option value="458">Pacific/Pago_Pago</option>
              <option value="459">Pacific/Palau</option>
              <option value="460">Pacific/Pitcairn</option>
              <option value="461">Pacific/Pohnpei</option>
              <option value="462">Pacific/Ponape</option>
              <option value="463">Pacific/Port_Moresby</option>
              <option value="464">Pacific/Rarotonga</option>
              <option value="465">Pacific/Saipan</option>
              <option value="466">Pacific/Samoa</option>
              <option value="467">Pacific/Tahiti</option>
              <option value="468">Pacific/Tarawa</option>
              <option value="469">Pacific/Tongatapu</option>
              <option value="470">Pacific/Truk</option>
              <option value="471">Pacific/Wake</option>
              <option value="472">Pacific/Wallis</option>
              <option value="473">Pacific/Yap</option>
            </select>
          </div>
        </div>

        <div class="form-group col-lg-12">
          <div class="form-group">
            <div>
              <div *ngIf="notifications?.message && notifications.type"
                   class="alert alert-{{ notifications.type == 'error' ? 'danger' : 'success' }}"
                   [innerHTML]="notifications.message | safeHtml">
              </div>
              <input class="btn btn-primary btn-lg btn-block" [disabled]="!f.valid" type="submit"
                     value="Update Profile">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
