<div class="gray-bg">
  <div class="section-banner">
    <img src="/assets/graphics/support-tab/support-header-outline.svg" alt="Support">
  </div>
</div>
<div class="tab-group-container">

  <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" [(selectedIndex)]="tabIndex">

    <mat-tab>
      <ng-template mat-tab-label>
        <img *ngIf="tabIndex != 0 && tabIndex != null" src="/assets/graphics/support-tab/FAQ-off-outline.svg" alt="FAQs">
        <img *ngIf="tabIndex == 0 || tabIndex == null" src="/assets/graphics/support-tab/FAQ-on-outline.svg" alt="FAQs">
      </ng-template>
      <ng-template matTabContent>
        <div class="grid-outer-wrapper">
          <div class="grid-content-wrapper">
            <h3 class="blue">NMRbox FAQs</h3>
            <app-faqs></app-faqs>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <!--<mat-tab label="Tutorials">
      <div class="grid-outer-wrapper">
        <div class="grid-content-wrapper">
          <h3 class="blue">NMRbox Tutorials</h3>

          <mat-grid-list class="support-list grid-dashed" cols="3" rowHeight="180px">
          </mat-grid-list>
        </div>
      </div>
    </mat-tab>-->

    <mat-tab>
      <ng-template mat-tab-label>
        <img *ngIf="tabIndex != 1" src="/assets/graphics/support-tab/documentation-off-outline.svg" alt="Documentation">
        <img *ngIf="tabIndex == 1" src="/assets/graphics/support-tab/documentation-on-outline.svg" alt="Documentation">
      </ng-template>
      <ng-template matTabContent>
        <div class="grid-outer-wrapper">
          <div class="grid-content-wrapper">
            <h3 class="blue">Software documentation</h3>

            <mat-grid-list class="support-list grid-dashed" [cols]="responsiveService.columns" rowHeight="180px">
              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/documentation">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Getting started</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>NMRbox Documentation</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/licensing">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Licensing</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>NMRbox User License</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/nihresources">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>NIH Resources</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>NIH Biomedical Technology Resources</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile class="tile-solid tile-transparent" routerLink="/pages/release-notes">
                <mat-card class="standard-card tile-card-short">
                  <mat-card-header>
                    <mat-card-title>Release Notes</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>Release notes for the various NMRbox releases.</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

            </mat-grid-list>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img *ngIf="tabIndex != 2" src="/assets/graphics/support-tab/contact-off-outline.svg" alt="Contact">
        <img *ngIf="tabIndex == 2" src="/assets/graphics/support-tab/contact-on-outline.svg" alt="Contact">
      </ng-template>
      <ng-template matTabContent>

        <div class="grid-outer-wrapper">
          <div class="grid-content-wrapper">
            <app-embedded-static-detail [pageURL]="'contact-us'"></app-embedded-static-detail>
          </div>
        </div>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
