/* @import '~@angular/material/_theming.scss'; */

$nmrbox-blue-gray: #a4bbc1;

.test {
  width: 100px;
  max-height: 37.31px;
}

.mat-toolbar.mat-primary {
  background-color: #475a63;
  min-height: 50px !important;

  nav {
    a, span {
      color: $nmrbox-blue-gray;
      font-weight: 300;
      margin-left: .5em;
      margin-right: .5em;
      padding: 0;
      outline: none;
    }

    /* Nav: active & hover state */
    a:hover, a:focus, a:active, .active {
      text-decoration: none;
      span {
        color: #fff;
      }
    }

    a:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}

.mat-toolbar-row {
  position: relative;
  max-width: 955px;
  width: 955px;
  margin: auto;
}
