<md-toolbar color="primary">
    
    <div class="nav-wrapper">
      <!--
      <span class="nav-tab" id="nav-tab-1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="50,5  100,5  125,30  125,80  100,105  50,105  25,80  25, 30" /></svg>
      </span>
      <span class="nav-tab" id="nav-tab-2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="50,5  100,5  125,30  125,80  100,105  50,105  25,80  25, 30" /></svg>
      </span>
      <span class="nav-tab" id="nav-tab-3">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="50,5  100,5  125,30  125,80  100,105  50,105  25,80  25, 30" /></svg>
      </span>
      <span class="nav-tab" id="nav-tab-4">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="50,5  100,5  125,30  125,80  100,105  50,105  25,80  25, 30" /></svg>
      </span>
      -->
        
      <nav class="main-navbar">
        <a md-button routerLink="/app" routerLinkActive="active">
          <span class="nav-tab">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="50,5  100,5  125,30  125,80  100,105  50,105  25,80  25, 30" /></svg>
          </span>
          <span class="nmrbox-logo-small-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </a>
        <a md-button routerLink="/software" routerLinkActive="active">
          <span class="nav-tab">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="50,5  100,5  125,30  125,80  100,105  50,105  25,80  25, 30" /></svg>
          </span>
          <span>Software</span>
        </a>
        <a md-button routerLink="/community" routerLinkActive="active">
          <span class="nav-tab">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="50,5  100,5  125,30  125,80  100,105  50,105  25,80  25, 30" /></svg>
          </span>
          <span>Community</span>
        </a>
        <a md-button routerLink="/team" routerLinkActive="active">
          <span class="nav-tab">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="50,5  100,5  125,30  125,80  100,105  50,105  25,80  25, 30" /></svg>
          </span>
          <span>Teams</span>
        </a>
      </nav>
      <span class="spacer"></span>
      <nav class="secondary-navbar">
        <a md-button routerLink="/app" routerLinkActive="active">Login</a>
        <span>|</span>
        <a md-button routerLink="/app" routerLinkActive="active">Sign up</a>
      </nav>
    </div>
</md-toolbar>
<router-outlet></router-outlet>
